<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal">
                    <h4 class="title">{{"New/Edit Invoice" | translate}}</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"Invoice Card" | translate}}
                                <span style='float:right;'>
                                    <span
                                        class="btn btn-xs btn-primary">{{((invoiceType==1) ? "Outgoing" : "Incoming" )| translate | uppercase}}</span>
                                    {{invoice.invoiceNumber}}

                                </span>

                            </legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Is Proforma?" | translate}}</label>
                                    <div class="col-sm-10 checkbox" style="padding-top: 10px;">
                                        <input id="isProforma" type="checkbox" [(ngModel)]="invoice.isProforma"
                                            name="isProforma" [disabled]="invoice.ID>0">
                                        <label for="isProforma">

                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"PO Number" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="{{'PO Number' | translate}}" class="form-control"
                                            [(ngModel)]="invoice.po" name="po">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Description" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="{{'Description' | translate}}" class="form-control"
                                            [(ngModel)]="invoice.description" name="description">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="invoiceType==2 || invoice.invoiceType==2">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Invoice Number" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="{{'Invoice Number' | translate}}" class="form-control"
                                            [(ngModel)]="invoice.invoiceNumber" name="invoiceNumber">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Customer" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select name="customerID" [(ngModel)]="invoice.customerID"
                                            class="selectpicker selectCustomer"
                                            (change)="getCustomer(invoice.customerID)" data-title="{{'Select' | translate}}"
                                            data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option *ngFor="let customer of customers" [value]="customer.ID">
                                                {{customer.customer}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Invoice Date" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" [(ngModel)]="invoice.invoiceDate" name="invoiceDate"
                                            class="form-control datetimepicker" placeholder="{{'Pick Date Time' | translate}}" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Payment Due" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select name="dueDateOptions" [(ngModel)]="invoice.dueDateOptions"
                                            class="selectpicker selectdueDateOptions" data-title="{{'Payment Due' | translate}}"
                                            data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option selected [value]="1">{{"Same Day" | translate}}</option>
                                            <option selected [value]="2">7</option>
                                            <option selected [value]="3">14</option>
                                            <option selected [value]="4">30</option>
                                            <option selected [value]="5">60</option>
                                            <option selected [value]="6">90</option>
                                            <option selected [value]="7">180</option>
                                            <option selected [value]="8">360</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Currency" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select name="invoiceCurrency" [(ngModel)]="invoice.invoiceCurrency"
                                            (change)="changeCurrency($event)" class="selectpicker selectCurrency"
                                            data-title="{{'Currency' | translate}}" data-style="btn-default btn-block"
                                            data-menu-style="dropdown-blue">
                                            <option [value]="1">TRY</option>
                                            <option [value]="2">USD</option>
                                            <option [value]="3">EUR</option>
                                            <option [value]="4">GBP</option>

                                        </select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Invoice Type" | translate}}</label>
                                    <div class="col-sm-2">
                                        <select name="invoiceClass" [(ngModel)]="invoice.invoiceClass"
                                            class="selectpicker selectinvoiceClass" data-title="{{'Invoice Type' | translate}}"
                                            data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option [value]="1">{{"Sale" | translate}}</option>
                                            <option [value]="2">{{"Return" | translate}}</option>
                                            <option [value]="3">{{"Stoppage" | translate}}</option>
                                            <option [value]="4">{{"Exception" | translate}}</option>
                                            <option [value]="5">{{"Special Tax Base" | translate}}</option>
                                            <option [value]="6">{{"Exportation" | translate}}</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label">{{"Auto Generate?" | translate}}</label>
                                    <div class="col-sm-1 checkbox" style="padding-top: 10px;">
                                        <input id="autoGenerate" type="checkbox" name="autoGenerate" [(ngModel)]="invoice.autoGenerate">
                                        <label for="autoGenerate">

                                        </label>
                                    </div>
                                    <div class="form-group" [hidden]="invoice.autoGenerate==0">
                                        <label class="col-sm-1 control-label">{{"Period" | translate}}</label>
                                        <div class="col-sm-2">
                                            <select name="invoicePeriod" [(ngModel)]="invoice.invoicePeriod"
                                                class="selectpicker selectInvoicePeriod" data-title="{{'Invoice Period' | translate}}"
                                                data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                                <option [value]="1">{{"Monthly" | translate}}</option>
                                                <option [value]="2">{{"Yearly" | translate}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" [(ngModel)]="invoice.periodLastDate"
                                                name="periodLastDate" class="form-control selectperiodLastDate"
                                                placeholder="{{'Last Date' | translate}}" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset *ngIf="invoice.ID>0">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Invoice Image" | translate}}</label>
                                    <div class="col-sm-10" style="padding-top:10px;">
                                        <input type="file" name="uf" style="display:none;" #fileInput
                                            (change)="onFileChange($event)" />
                                        <a *ngIf="invoice.ID>0 && invoice.pdfPath==null" title="Upload Invoice"
                                            (click)="uploadInvoice(invoice.ID)">{{"Upload Invoice Image" | translate}}
                                            <span style="float:right;"><i class="fa fa-upload"></i></span>
                                        </a>
                                        {{invoice.pdfPath}}
                                        <span style="float:right;">
                                            <a style="margin-top:10px;" *ngIf="invoice.pdfPath!=null" title="{{'Get File' | translate}}"
                                                target="_blank"
                                                href="https://crmapi.efdigitalcodes.com{{invoice.pdfPath}}"><i
                                                    class="fa fa-search"></i></a>
                                            &nbsp;<a style="margin-top:10px;cursor: pointer;"
                                                *ngIf="invoice.pdfPath!=null" title="{{'Delete File' | translate}}"
                                                (click)="deleteFile(invoice.fileID)">
                                                <i class="fa fa-trash"> </i>&nbsp;</a>
                                        </span>

                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Notes" | translate}}</label>
                                    <div class="col-sm-10">
                                        <textarea rows="3" class="form-control" placeholder="{{'Notes' | translate}}"
                                            [(ngModel)]="invoice.notes" name="notes"></textarea>

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="header">
                            <legend>{{"Details" | translate}}</legend>
                            <span style='float:right;'>
                                <a (click)='addInvoiceDetail()' #addDetail *ngIf="invoice.statusID<=3"
                                    style='color:gray;margin-right:10px;'><i class='fa fa-plus-square-o'></i></a>
                            </span>
                        </div>
                        <br>
                        <div class="content" #idContent>
                            <!-- detail will be here -->
                            <fieldset>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>{{"products/services" | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>{{"Unit" | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>{{"Unit Price" | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>{{"Discount" | translate}}</label>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>{{"Tax Rate" | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>{{"Tax" | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{"Total" | translate}}</label>

                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngFor="let invoiceD of invoice.invoiceDetails;let i = index">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select name="item" [(ngModel)]="invoiceD.item" (change)="setProductID($event,i)"
                                            class="selectpicker selectProduct rowd{{invoiceD.rowNumber}}"
                                            data-title="{{'Select Product' | translate}}" data-style="btn-default btn-block"
                                            data-menu-style="dropdown-blue">
                                            <option  selected *ngFor="let product of products" [value]="product.product" id="{{product.ID}}"> 
                                                {{product.product}}</option>
                                        </select>

                                        <!-- <input type="text" disabled placeholder="" [ngModelOptions]="{standalone: true}" class="form-control" *ngIf="invoice.invoiceType==2"
                                            name="item" [value]="invoiceD.item" [(ngModel)]="invoiceD.item">  -->
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="number" placeholder="" class="form-control" name="unit"
                                            (input)="unitChanged($event.target.value,invoiceD.rowNumber)"
                                            [ngModelOptions]="{standalone: true}" [value]="invoiceD.unit"
                                            [(ngModel)]="invoiceD.unit">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="text" placeholder="" class="form-control" name="amount"
                                            (input)="amountChanged($event.target.value,invoiceD.rowNumber)"
                                            [ngModelOptions]="{standalone: true}" [value]="invoiceD.amount"
                                            [(ngModel)]="invoiceD.amount">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="number" placeholder="" class="form-control text-right"
                                            name="discountRate"
                                            (input)="discountChanged($event.target.value,invoiceD.rowNumber)"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="invoiceD.discountRate">
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="form-group">
                                        <select class="selectpicker selectVatRate" data-title="Rate"
                                            data-style="btn-default btn-block" [ngModelOptions]="{standalone: true}"
                                            name="vatRate" [(ngModel)]="invoiceD.vatRate"
                                            (change)="vatChanged($event.target.value,invoiceD.rowNumber)"
                                            data-menu-style="dropdown-blue">
                                            <option selected value="18">%18</option>
                                            <option selected value="8">%8</option>
                                            <option selected value="1">%1</option>
                                            <option selected value="0">%0</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input disabled="" type="item" placeholder=""
                                            [ngModelOptions]="{standalone: true}" class="form-control text-right"
                                            name="vatAmount" [(ngModel)]="invoiceD.vatAmount">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input currencyMask [options]="{ prefix: invoice.currency+' ',  decimal: '.' }"
                                            disabled="" type="text" placeholder="" class="form-control text-right"
                                            style="width:80%;" [ngModelOptions]="{standalone: true}" name="totalAmount"
                                            [(ngModel)]="invoiceD.totalAmount">
                                        <a (click)="removeItem(invoiceD.rowNumber)"
                                            style='color:gray;float:right;margin-top:-30px;'><i
                                                class='fa fa-remove'></i></a>
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                        <br>
                        <legend></legend>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-8 control-label">{{"Total Units" | translate}}</label>
                                <div class="col-sm-4">
                                    <input type="text" disabled placeholder="{{'Units' | translate}}" class="form-control text-right"
                                        [(ngModel)]="totals.unit" name="unitTotal">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-8 control-label">{{"Sub Total" | translate}}</label>
                                <div class="col-sm-4">
                                    <input currencyMask [options]="{ prefix: invoice.currency+' ',  decimal: '.' }"
                                        type="text" disabled placeholder="{{'Sub Total' | translate}}" class="form-control text-right"
                                        [(ngModel)]="totals.amount" name="subTotal">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-8 control-label">{{"VAT Total" | translate}}</label>
                                <div class="col-sm-4">
                                    <input currencyMask [options]="{ prefix: invoice.currency+' ', decimal: '.' }"
                                        type="text" disabled placeholder="{{'vat' | translate}}" class="form-control text-right"
                                        [(ngModel)]="totals.vatAmount" name="vatTotal">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-8 control-label">{{"Total" | translate}}</label>
                                <div class="col-sm-4">
                                    <input currencyMask [options]="{ prefix: invoice.currency+' ', decimal: '.' }"
                                        type="text" disabled placeholder="{{'Total' | translate}}" class="form-control text-right"
                                        [(ngModel)]="totals.total" name="total">
                                </div>
                            </div>
                        </fieldset>

                        <br>
                    </div> <!-- end card -->
                    <div class="content">
                        <button #btnSave
                            *ngIf="(invoice.statusID<=3 && invoice.invoiceType==1) || (invoice.merchantInvoiceID=='' && invoice.invoiceType==2) && invoice.ID>0"
                            class="btn btn-default btn-fill btn-wd" (click)="clickDelete(content)">{{"Delete" | translate}}</button>
                        <button #btnSave *ngIf="(invoice.statusID==1000 && invoice.invoiceType==2) && invoice.ID>0"
                            class="btn btn-default btn-fill btn-wd" (click)="postAccount()">POST ACCOUNT</button>

                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd"
                                (click)="clickCancel()">{{"Cancel" | translate}}</button>
                            <button style='margin-right:5px;' #btnSave
                                *ngIf="(invoice.statusID<=3 && invoiceType==1) || ( invoiceType==2 && invoice.statusID<=3)"
                                class="btn btn-success btn-fill btn-wd" (click)="clickSave()">{{"Save" | translate}}</button>
                            <button #btnSaveAsInvoice *ngIf="invoice.ID>0 && invoice.isProforma==1"
                                class="btn btn-success btn-fill btn-wd" (click)="clickSaveAsInvoice()">{{"Save as Invoice" | translate}}</button>

                        </div>
                    </div>
                </form>
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->

    </div>
</div>