<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                        <h4 class="title">{{"transactions" | translate |titlecase}} 
                                <span style='float:right;font-size:16px;'>
                                    <a title="Excel Export" (click)="excelExport()" style='color:gray;margin-right:10px;font-size:16px;'><i class='fa fa-file-excel-o'></i></a>
                                        
                                </span>
                            </h4>
                            <p class="category">{{"These are your bank transactions" | translate |titlecase}}</p>
                        <!-- <legend></legend> -->
                        <br>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="padding-top:10px;">{{"Start Date" | translate}}</label>
                                <div class="col-sm-2">
                                    <input type="text" [(ngModel)]="invoiceStartDate" name="invoiceStartDate" class="form-control datetimepicker invoiceStartDate"
                                        placeholder="Pick Date Time" />
                                </div>
                                <label class="col-sm-2 control-label" style="padding-top:10px;">{{"End Date" | translate}}</label>
                                <div class="col-sm-2">
                                    <input type="text" [(ngModel)]="invoiceEndDate" name="invoiceEndDate" class="form-control datetimepicker invoiceEndDate"
                                        placeholder="Pick Date Time" />
                                </div>
                                <div class="col-sm-4">
                                <button style='margin-right:5px;' class="btn btn-success btn-fill btn-wd"
                                (click)="clickReport()">{{"Report" | translate}}</button>
                                </div>
                            </div>
                        </fieldset>

                        <hr>
                    <div class="fresh-datatables">
                        <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                  <th>#</th>
                                  <th>{{"Date" | translate}}</th>
                                  <th>{{"Account" | translate}}</th>
                                  <th>{{"Description" | translate}}</th>
                                  <th class='text-right'>{{"Amount" | translate}}</th>
                                  <th class='text-center'></th>
                                  <th class='text-right'></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                        <td><span class="dot {{row.color}}"></span></td>
                                        <td>{{row.tranDate | date:'d/M/y'}}</td>
                                        <td><a routerLink='/bank/{{row.bankID}}'><span class="btn btn-outline-primary btn-xs">{{row.bank}} - {{row.accountNumber}}</span></a></td>
                                        <td>{{row.description}}</td>                                        
                                        <td class='text-right'>{{row.transaction | number}}</td>
                                        <td class='text-center'><span class="btn btn-success btn-xs">{{row.currency}}</span></td>  
                                        <td class='text-right tableicon'>
                                            <a title='{{row.notes}}'(click)="openModal(row.ID,i)">
                                                <i ngClass="{{row.notes != NULL ? ' fa fa-sticky-note note' : 'fa fa-sticky-note-o'}}"></i>&nbsp;
                                            </a>
                                            <a alt='Link An Invoice' (click)="openModalInvoice(row.ID)">
                                                <i ngClass="{{row.relatedInvoiceID != NULL ? ' fa fa-link linkedInvoice' : 'fa fa-chain-broken'}}"></i>&nbsp;
                                            </a>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
</div>
