<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <form method="post" class="form-horizontal">
                <h4 class="title">Balance Details</h4>
                <div class="card">
                    <!-- mains will be here -->
                  
                    <div class="content" style="height:450px;overflow-y: scroll;">       
                        <div class="fresh-datatables">
                            <table id="datatablesd" class="table table-no-bordered table-hover" cellspacing="0" width="100%"
                              style="width:100%">
                              <thead>
                                <tr>
                                  <th class='text-center'>{{"Invoice Date" | translate | uppercase}}</th>
                                  <th class="text-left">{{"Description" | translate | uppercase}}</th>
                                  <th class="text-right">{{"Currency" | translate | uppercase}}</th>
                                  <th class="text-right">{{"Amount" | translate | uppercase}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                  <td class='text-center'>{{row.invoiceDate}}</td>
                                  <td class='text-left'>{{row.operationDesc}}</td>
                                  <td class='text-right'>{{row.currency | uppercase}}</td>
                                  <td class='text-right'>{{row.amount | number}}</td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <th>{{"TOTALS"|translate}}</th>
                                  <th></th>
                                  <th></th>
                                  <th class='text-right'>{{totals.amount1 | number}}</th>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                    </div>
                </div>
                <div class="content" >
                    <div style='float:right;margin-bottom: 40px;'>
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">CANCEL</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

