<div class="main-content">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">{{"Expense Summary"| translate |titlecase}}
                                    <!-- Burada eger tedarikci ise Customer>Vendor olacak -->
                                    <span style='float:right;font-size:16px;'>
                                        <a data-target="#collapseOne" data-toggle="collapse">
                                            <i style='color:gray;margin-right:10px;' class="fa fa-ellipsis-h"> </i>&nbsp;
                                        </a>
                                    </span>
                                </h4>
                                <p class="category"></p>
                            </div>
                            <div class="content">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div id="collapseOne" class="panel-collapse collapse">
        
                                            <div class="panel-body">
                                                <div class="col-md-6">
                                                    {{"Graph" | translate}}
                                                </div>
                                                <div class="col-md-6">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>3 {{"Months Ago" | translate}}</th>
                                                                <th>2 {{"Months Ago" | translate}}</th>
                                                                <th>{{"Last Month" | translate}}</th>
                                                                <th>{{"Cumulative" | translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{"Travel Expenses" | translate}}</td>
                                                                <td>TRY 12,000</td>
                                                                <td></td>
                                                                <td>TRY 12,000</td>
                                                                <td>TRY 12,000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>{{"Meals/Entertainment" | translate}}</td>
                                                                <td>TRY 12,000</td>
                                                                <td></td>
                                                                <td>TRY 12,000</td>
                                                                <td>TRY 12,000</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>{{"Total" | translate}}</b></td>
                                                                <td><b>TRY 12,000</b></td>
                                                                <td><b></b></td>
                                                                <td><b>TRY 12,000</b></td>
                                                                <td><b>TRY 12,000</b></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
        
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div> 
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                        <h4 class="title">{{"expenses" | translate |titlecase}} 
                                <span style='float:right;font-size:16px;'>
                                    <input type="file" name="uf" style="display:none;" #fileInput (change)="onFileChange($event)"/>
                                    <a (click)="uploadFile()" data-target="#" data-toggle="collapse"><i style='color:gray;margin-right:10px;' class="fa fa-upload"> </i>&nbsp;</a>
                                    <a routerLink='/costs/expense' style='color:gray;margin-right:10px;'><i class='fa fa-plus-square-o'></i></a>
                                </span>
                        </h4>
                        <p class="category">{{"These are your Receipts and Expenses" | translate |titlecase}}</p>
                        <!-- <legend></legend> -->
                        <br>
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                    <th class='text-center'>{{ dataTable.headerRow[1] }}</th>
                                    <th>{{ dataTable.headerRow[2] }}</th>
                                    <th>{{ dataTable.headerRow[3] }}</th>
                                    <th>{{ dataTable.headerRow[4] }}</th>
                                    <th>{{ dataTable.headerRow[5] }}</th>
                                    <th class="text-center">{{ dataTable.headerRow[6] }}</th>
                                    <th class="text-center">{{ dataTable.headerRow[7] }}</th>

                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                      <td><span class="dot {{row.color}}"></span></td>
                                      <td class='text-center'><button class="btn btn-xs btn-primary">{{row.statusName | uppercase}}</button></td>
                                      <td>{{row.expenseDate | date:'dd-MM-yyyy'}}</td>
                                      <td><a routerLink='/costs/expense/{{row.ID}}'>{{row.merchant}}</a></td>
                                      <td>{{row.expenseCategoryName}}</td>
                                      <td>{{row.expenseAccountName}}</td>
                                      <td class='text-right'>{{row.totalAmount | number }}</td>
                                      <td class='text-left'><button class="btn btn-xs btn-success">{{row.currencyName}}</button></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>
