<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal">
                    <h4 class="title">{{"New/Edit Bank" | translate}}</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"Bank Info Card" | translate}}</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Name" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="name"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="bank.name">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Bank ID" | translate}}</label>
                                    <div class="col-sm-10">
                                            <input type="text" placeholder="" class="form-control" name="bankID"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="bank.bankID">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Swift</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="SWIFT"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="bank.SWIFT">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Phone" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="phone"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="bank.phone">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Email" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="kepEmail"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="bank.kepEmail">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{"Address" | translate}}</label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="" class="form-control" name="address"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="bank.address">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">{{"Country" | translate}}</label>
                                            <div class="col-sm-10">
                                                    <select name="countryID" [(ngModel)]="bank.countryID" class="selectpicker selectCountry" 
                                                    data-title="Select Country" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                                    <option selected *ngFor="let country of countries" [value]="country.ID">{{country.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                        </div>
                    </div>
                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="deleteBank()">{{"Delete" | translate}}</button>
                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">{{"Cancel" | translate}}</button>
                            <button class="btn btn-success btn-fill btn-wd" (click)="saveBank()">{{"Save" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
