<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal">
                    <h4 class="title">{{"New/Edit Bank Account" | translate}}</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"Bank Account Card" | translate}}</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Name" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="account"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="bankAccount.account">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Bank" | translate}}</label>
                                    <div class="col-sm-10">
                                            <select name="bankID" [(ngModel)]="bankAccount.bankID" class="selectpicker selectBank" (change)="getBankBranches(bankAccount.bankID)"
                                            data-title="Select Bank" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option selected *ngFor="let bank of banks" [value]="bank.bankID">{{bank.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Branch" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select name="bankID" [(ngModel)]="bankAccount.branchID" class="selectpicker selectBranch" 
                                            data-title="Select Branch" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option selected *ngFor="let branch of branches" [value]="branch.branchID">{{branch.branch}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Account Number" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="accountID"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="bankAccount.accountID">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">IBAN</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="IBAN"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="bankAccount.IBAN">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Currency" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select name="currencyID" [(ngModel)]="bankAccount.currencyID" class="selectpicker selectcurrency"
                                            data-title="Currency" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option selected [value]="1">TRY</option>
                                            <option selected [value]="2">USD</option>
                                            <option selected [value]="3">EUR</option>
                                            <option selected [value]="4">GBP</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="deleteAccount()">{{"Delete" | translate}}</button>
                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">{{"Cancel" | translate}}</button>
                            <button class="btn btn-success btn-fill btn-wd" (click)="saveAccount()">{{"Save" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
