<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <form method="post" class="form-horizontal">
                <h4 class="title">{{"Related Invoice" | translate}}</h4>
                <div class="card">
                    <!-- mains will be here -->
                    <div class="header">
                        <legend>{{"InvoiceID" | translate}}</legend>
                    </div>
                    <div class="content">       
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" placeholder="Invoice ID" class="form-control" name="relatedInvoiceID"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="transaction.relatedInvoiceID">
                                </div>
                            </div>
                            <a target="_blank" 
                                *ngIf="transaction.relatedInvoiceID != NULL "
                                href="https://crmapi.efdigitalcodes.com/{{transaction.pdfPath}}">
                                <i class="fa fa-file-pdf-o"></i>
                                {{"Click for the invoice"|translate}}</a>
                        <br>
                        </fieldset>
                    </div>
                </div>
                <div class="content" >
                    <div style='float:right;margin-bottom: 40px;'>
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">CANCEL</button>
                        <button class="btn btn-success btn-fill btn-wd" (click)="saveInvoiceID()" >SAVE</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

