<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <form method="post" class="form-horizontal">
                <h4 class="title">{{paymentType}} payment for this invoice #{{invoice.invoiceNumber}}</h4>
                <div class="card">
                    <!-- mains will be here -->
                    <div class="header">
                        <legend>{{"Payment" | translate}}</legend>
                    </div>
                    <div class="content">       
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Amount</label>
                                <div class="col-sm-8">
                                    <input type="text" placeholder="" class="form-control" name="amount"
                                    [ngModelOptions]="{standalone: true}" [value]="invoice.payment.amount" [(ngModel)]="invoice.payment.amount">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Payment Date</label>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="invoice.payment.paymentDate" name="paymentDate" class="form-control datetimepicker"
                                            placeholder="Pick Date Time" [ngModelOptions]="{standalone: true}" [value]="invoice.payment.paymentDate"/>
                                    </div>
                                </div>
                            </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Payment Method</label>
                                <div class="col-sm-8">
                                    <select name="paymentMethod" [(ngModel)]="invoice.payment.paymentMethod" class="selectpicker selectpaymentMethod"
                                        data-title="Payment Method" data-style="btn-default btn-block"
                                        data-menu-style="dropdown-blue">
                                        <option [value]="1">Cash</option>
                                        <option [value]="2">Credit Card</option>
                                        <option [value]="3">Bank</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Payment Account</label>
                                <div class="col-sm-8">
                                    <select name="paymentAccount" [(ngModel)]="invoice.payment.paymentAccount" class="selectpicker selectpaymentAccount"
                                        data-title="Payment Account" data-style="btn-default btn-block"
                                        data-menu-style="dropdown-blue">
                                        <option [value]="1">Cash Register</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Notes</label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control" placeholder="Notes" [(ngModel)]="invoice.payment.notes"
                                        name="notes"></textarea>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="content" >
                    <div style='float:right;margin-bottom: 40px;'>
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">CANCEL</button>
                        <button class="btn btn-success btn-fill btn-wd" (click)="savePayment()" >SAVE</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

