<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" [formGroup]="companyForm" (ngSubmit)="saveCompany()">
          <h4 class="title">New/Edit Company</h4>
          <div class="card">
            <!-- mains will be here -->
            <div class="header">
              <legend>Basics</legend>
            </div>
            <div class="content">
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">supplierShortName</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="supplierShortName"
                      [(ngModel)]="company.supplierShortName">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">supplier</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="supplier"
                      [(ngModel)]="company.supplier">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">supplierType</label>
                  <div class="col-sm-10">
                    <select formControlName="supplierType" [(ngModel)]="company.supplierType" class="selectpicker selectSupplierType"
                      data-title="" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                      <option  [value]="1">Customer</option>
                      <option  [value]="2">Channel</option>
                      <option  [value]="3">Distributor</option>
                      <option  [value]="4">Seller</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset *ngIf="company.supplierType==1 || company.supplierType==3 || company.supplierType==4">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Channel</label>
                  <div class="col-sm-10">
                    <select name="channelID" [(ngModel)]="company.channelID" class="selectpicker selectChannel"
                      (change)="getacwithsupplierType(3,company.channelID)" data-title="Select Channel" data-style="btn-default btn-block"
                      data-menu-style="dropdown-blue">
                      <option *ngFor="let channel of channels" [value]="channel.ID">
                        {{channel.supplier}}</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset *ngIf="company.supplierType==1 || company.supplierType==4">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Distributor</label>
                  <div class="col-sm-10">
                    <select name="distributorID" [(ngModel)]="company.distributorID"
                      class="selectpicker selectDistributor" (change)="getacwithsupplierType(4,company.distributorID)"
                      data-title="Select Distributor" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                      <option *ngFor="let distributor of distributors" [value]="distributor.ID">
                        {{distributor.supplier}}</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset  *ngIf="company.supplierType==1">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Seller</label>
                  <div class="col-sm-10">
                    <select name="sellerID" [(ngModel)]="company.sellerID" class="selectpicker selectSeller"
                      data-title="Select Seller" data-style="btn-default btn-block"
                      data-menu-style="dropdown-blue">
                      <option *ngFor="let seller of sellers" [value]="seller.ID">
                        {{seller.supplier}}</option>
                    </select>
                  </div>
                </div>
              </fieldset>
             
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">tckVKNNo</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="tckVKNNo"
                      [(ngModel)]="company.tckVKNNo">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">address</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="address"
                      [(ngModel)]="company.address">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">buildingNumber</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="buildingNumber"
                      [(ngModel)]="company.buildingNumber">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">district</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="district"
                      [(ngModel)]="company.district">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">city</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="city"
                      [(ngModel)]="company.city">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">country</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="country"
                      [(ngModel)]="company.country">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">vatNumber</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="vatNumber"
                      [(ngModel)]="company.vatNumber">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">vatAuthority</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="vatAuthority"
                      [(ngModel)]="company.vatAuthority">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">commerceAuthorityNo</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="commerceAuthorityNo"
                      [(ngModel)]="company.commerceAuthorityNo">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">phone</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="phone"
                      [(ngModel)]="company.phone">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">email</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="email"
                      [(ngModel)]="company.email">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">supplierContact</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="supplierContact"
                      [(ngModel)]="company.supplierContact">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">supplierContactEmail</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="supplierContactEmail"
                      [(ngModel)]="company.supplierContactEmail">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Auto Invoice Number</label>
                  <div class="col-sm-2 checkbox" style="padding-top: 10px;">
                      <input id="autoInvoiceNumber" type="checkbox" [(ngModel)]="company.autoInvoiceNumber"
                      formControlName="autoInvoiceNumber">
                      <label for="autoInvoiceNumber">

                      </label>
                  </div>
                  <div [ngStyle]="{'display':(company.autoInvoiceNumber!=1) ? 'none' : 'block'}">
                  <label class="col-sm-2 control-label">invoicePreFix</label>
                  <div class="col-sm-2">
                    <input type="text" placeholder="" class="form-control" formControlName="invoicePreFix"
                      [(ngModel)]="company.invoicePreFix">
                  </div>
                  <label class="col-sm-2 control-label">invoice Number</label>
                  <div class="col-sm-2">
                    <input type="text" placeholder="" class="form-control" formControlName="invoiceNumber"
                      [(ngModel)]="company.invoiceNumber">
                  </div>
                </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">notes</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="notes"
                      [(ngModel)]="company.notes">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">apiUrl</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="apiUrl"
                      [(ngModel)]="company.apiUrl">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">apiUser</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" formControlName="apiUser"
                      [(ngModel)]="company.apiUser">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">apiPass</label>
                  <div class="col-sm-10">
                    <input type="password" placeholder="" class="form-control" formControlName="apiPass"
                      [(ngModel)]="company.apiPass">
                  </div>
                </div>
              </fieldset>

            </div>
          </div>
          <div class="content">
            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd"
              *ngIf="companyID>0 && userType==1 " (click)="deleteCompany()">DELETE</button>

            <div style='float:right;'>
              <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd"
                (click)="clickCancel()">CANCEL</button>
              <button type="submit" class="btn btn-success btn-fill btn-wd">SAVE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>