<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form method="post" class="form-horizontal">
          <div class="card">
            <div class="content">
              <h4 class="title">{{"Balance" | translate}}
                <span style='float:right;'>
                  <a title="Excel Export" (click)="excelExport()" style='color:gray;margin-right:10px;font-size:16px;'><i
                      class='fa fa-file-excel-o'></i></a>
                </span>
              </h4>
              <p class="category">{{"Select Your Balance Parameters" | translate | titlecase}} </p>
              <!-- <legend></legend> -->
              <br>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{"Start Date" | translate}}</label>
                  <div class="col-sm-2">
                    <input type="text" [(ngModel)]="invoiceStartDate" name="invoiceStartDate"
                      class="form-control datetimepicker invoiceStartDate" placeholder="{{'Pick Date Time' | translate}}" />
                  </div>
                  <label class="col-sm-2 control-label">{{"End Date" | translate}}</label>
                  <div class="col-sm-2">
                    <input type="text" [(ngModel)]="invoiceEndDate" name="invoiceEndDate"
                      class="form-control datetimepicker invoiceEndDate" placeholder="{{'Pick Date Time' | translate}}" />
                  </div>
                  <label class="col-sm-2 control-label">{{"Currency" | translate}}</label>
                  <div class="col-sm-2">
                    <select name="invoiceCurrency" [(ngModel)]="invoiceCurrency" class="selectpicker selectCurrency"
                      data-title="Currency" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                      <option [value]="1">TRY</option>
                      <option [value]="2">USD</option>
                      <option [value]="3">EUR</option>
                      <option [value]="4">GBP</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="content">
                  <div style='float:right;'>
                    <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd"
                      (click)="clickCancel()">{{"Cancel" | translate}}</button>
                    <button style='margin-right:5px;' class="btn btn-success btn-fill btn-wd"
                      (click)="clickReport()">{{"Report" | translate}}</button>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="content">
              <h4 class="title">{{"Details" | translate}}</h4>
              <legend></legend>
              <div class="fresh-datatables">
                <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%"
                  style="width:100%">
                  <thead>
                    <tr>
                      <th class='text-center'>{{"Account" | translate | uppercase}}</th>
                      <th class="text-left">{{"Sub Account" | translate | uppercase}}</th>
                      <th class='text-left'>{{"Account Name" | translate | uppercase}}</th>
                      <th class="text-right">{{"Currency" | translate | uppercase}}</th>
                      <th class="text-right">{{"Amount" | translate | uppercase}}</th>
                      <th class="text-center"></th>
                      <th class="text-center">{{"Amount (Selected Currency)" | translate | uppercase}}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of dataTable.dataRows; let i = index">
                      <td class='text-center'>{{row.account}}</td>
                      <td class='text-left'>{{row.subAccount}}</td>
                      <td class='text-left'>{{row.accName | titlecase}}</td>
                      <td class='text-right'>{{row.currency | uppercase}}</td>
                      <td class='text-right'>{{row.amount | number}}</td>
                      <td class='text-center'></td>
                      <td class='text-right'>{{row.amounts | number}}</td>
                      <td> <a (click)="showDetail(row.ID,row.invoiceCurrency)"><i
                            class="fa fa-search"></i></a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>{{"Total" | translate}}</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th class='text-right'>{{totals.amount1 | number}}</th>
                      <th></th>
                      <th class='text-right'>{{totals.amount2 | number}}</th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>