<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal">
                    <h4 class="title">New/Edit Contract</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"Contract" | translate}}</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Contract</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="contract.contractTitle">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Contract Date</label>
                                    <div class="col-sm-4">
                                        <input type="text" [(ngModel)]="contract.contractDate"
                                            [ngModelOptions]="{standalone: true}" name="contractDate" id="contractDate"
                                            class="form-control dates" placeholder="Contract Date" />
                                    </div>
                                    <label class="col-sm-2 control-label">Active</label>
                                    <div class="col-sm-4 checkbox" style="margin-top:5px;">    
                                        <input id="isActive" type="checkbox"  name="isActive" [(ngModel)]="contract.isActive"> 
                                        <label for="isActive">

                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                           <ckeditor [(ngModel)]="contract.contract" [ngModelOptions]="{standalone: true}" [editor]="ClassicEditorBuild" name="contract"></ckeditor>   
                        </div>

                    </div> <!-- end card -->


                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" *ngIf="contract.ID>0"
                            (click)="deleteContract()">DELETE</button>
                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd"
                                (click)="clickCancel()">CANCEL</button>
                            <button (click)="saveContract()" class="btn btn-success btn-fill btn-wd">SAVE</button>
                        </div>
                    </div>
                </form>
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->

    </div>
</div>