<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                          <h4 class="title">{{"Bank Accounts" | translate |titlecase}} 
                                  <span style='float:right;'>
                                        
                                        <a routerLink='/finance/bankAccount/0' style='color:gray;margin-right:10px;font-size:16px;'><i class='fa fa-plus-square-o'></i></a>
                                  </span>
                              </h4>
                              <p class="category"><a routerLink='/finance/banks/'>{{"Click for List of Banks" | translate |titlecase}} </a></p>
                          <!-- <legend></legend> -->
                          <br>
                      <div class="toolbar">
                          
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                    <th class='text-left'>{{ dataTable.headerRow[1] | translate }}</th>
                                    <th class='text-left'>{{ dataTable.headerRow[2] | translate }}</th>
                                    <th class='text-center'>{{ dataTable.headerRow[3] | translate }}</th>
                                    <th class='text-right'>{{ dataTable.headerRow[4] | translate }}</th>
                                    <th class='text-center'>{{ dataTable.headerRow[5] | translate }}</th>
                                    <th class='text-right'>{{ dataTable.headerRow[6] | translate }}</th>
                                    <th class='text-right'>{{ dataTable.headerRow[7] | translate }}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                      <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                          <td><span class="dot {{row.color}}"></span></td>
                                          <td class='text-left'><a routerLink='/finance/bankAccount/{{row.bankAccountID}}'>{{row.account}}</a></td>
                                          <td class='text-left'>{{row.bank| uppercase}}</td>
                                          <td class='text-center'><span class="btn btn-outline-primary btn-xs">{{row.accountID | uppercase}}</span></td>
                                          <td class='text-right'>{{row.IBAN}}</td>
                                          <td class='text-center'><span class="btn btn-success btn-xs">{{row.currency}}</span></td>
                                          <td class='text-right'>{{row.closingBalance | currency: row.currency }}</td>
                                          <td class="text-right tableicon">
                                                <a routerLink="/finance/bankAccount/{{row.bankAccountID}}"><i class="fa fa-search"> </i>&nbsp;</a>
                                                <a routerLink="/finance/transactions/{{row.bankAccountID}}"><i class="fa fa-bars"> </i>&nbsp;</a>
                                            </td>
                                      </tr>
                                  </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
  </div>
  