<div class="main-content">
  <div class="container-fluid">      
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                      <input type="file" accept="application/pdf" name="uf" style="display:none;" #fileInput (change)="onFileChange($event)"/>
                      <h4 class="title">{{"Archieves"| translate |titlecase}}
                          <div class="button">

                              <div class="dropdown" style="float:right;">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  {{"Actions" | translate}}
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                  <li><a (click)="printInvoices()">{{"print-invoices" | translate}}</a></li>
                                </ul>
                              </div>
                            </div>
                          </span>
                      </h4>
                      <p class="category">{{"These are your incoming archieves"| translate |titlecase}}</p>
                      <br>
                      <div class="toolbar">
                          <!-- Here you can write extra buttons/actions for the toolbar -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatablesIn" class="table table-no-bordered table-hover" cellspacing="0" width="100%"
                              style="width:100%">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th class='text-center'>{{"Status" | translate | uppercase}}</th>
                                      <th class='text-center'></th>
                                      <th class="text-left">{{"Invoice No" | translate | uppercase}}</th>
                                      <th>{{"Customer" | translate | uppercase}}</th>
                                      <th>{{"Issued" | translate | uppercase}}</th>
                                      <th class="text-center"></th>
                                      <th>{{"Due" | translate | uppercase}}</th>
                                      <th class="text-right">{{"Amount" | translate | uppercase}}</th>
                                      <th class="text-center"></th>
                                      <th class="text-center"></th>
                                      <th class="text-center"><input  type="checkbox" name="checkAll" [(ngModel)]="checkAll" (click)="selectAll()"></th>
                                      <th style="width:10%;" class="text-right">{{"Action" | translate | uppercase}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows; let i = index" [ngStyle]="{'background-color':(row.statusID==2000) ? 'lightgray' : ''}">
                                      <td><span class="dot {{row.color}}"></span></td>
                                      <td class='text-center'><span class="btn btn-xs" [ngStyle]="{'border-color':(row.statusID==1200) ? 'red' : ''}" *ngIf="row.statusID>1">{{row.status |
                                              uppercase}}</span>
                                              <a *ngIf="(row.statusID==0 ) || (row.statusID==1 && userType==1)"
                                              (click)="approveInvoice(row.ID,i)"
                                              class="btn btn-xs btn-success btn-fill"><b>{{"Approve" | translate | uppercase}}</b></a>
                                          </td>
                                      <td class='text-center'><span class="btn btn-primary btn-xs">{{row.invoiceClassName
                                              | uppercase}}</span></td>
                                      <td class="text-left"><a routerLink='/sales/invoice/{{row.ID}}' title="{{row.description}}" [queryParams]="{invoiceType: 2}">{{row.invoiceNumber}}</a></td>
                                      <td><a routerLink='/sales/customer/{{row.customerID}}' target="_blank">{{row.customerShortName}}</a></td>
                                      <td>{{row.invoiceDate}}</td>
                                      <td class="text-center">
                                          <span *ngIf="calculateDays(row.invoiceDate,row.dueDate) != 9999 && row.paymentID==0"
                                              ngClass="btn btn-xs {{calculateDays(row.invoiceDate,row.dueDate) >= 0 ? 'btn-fill btn-info' : 'btn-fill btn-danger'}}">
                                              {{((calculateDays(row.invoiceDate,row.dueDate))*1)}} {{"days" | translate}}</span>
                                      </td>
                                      <td><span *ngIf="row.paymentID==0">{{row.dueDate | date:'dd-MM-yyyy'}}</span></td>
                                      <td class='text-right'>{{row.totalAmount | number}}</td>
                                      <td class='text-center'><span class="btn btn-success btn-xs">{{row.currency }}</span></td>

                                      <td class="text-center">
                                          <span *ngIf="row.paymentID>0" class="btn btn-success btn-xs btn-fill">{{"PAID" | translate
                                              | uppercase}}</span>
                                          <span *ngIf="row.isProforma==1" class="btn btn-success btn-xs">{{"PROFORMA"
                                              | uppercase}}</span>
                                      </td>
                                      <td class="text-center">
                                              <span *ngIf="row.account"
                                                  class="btn btn-warning btn-xs btn-fill">{{"POSTED" | uppercase}}</span>
                                          </td>

                                      <td class="text-right tableicon">
                                          <a *ngIf="row.statusID==1000 && userType==1" alt='Accounting'  title='Accounting'
                                              (click)="openAccountingModal(row.ID,i)"><i class="fa fa-check"></i>&nbsp;</a>
                                          <a *ngIf="row.paymentID==0 && row.isProforma==0 && userType==1" alt='Record Payment'  title='Record Payment'
                                              (click)="openModal(row.ID,i)"><i class="fa fa-credit-card"></i>&nbsp;</a>
                                          <a title="View Invoice" target="_blank" *ngIf="row.pdfPath!=null" href="https://crmapi.efdigitalcodes.com{{row.pdfPath}}"><i
                                                  class="fa fa-file-pdf-o"> </i>&nbsp;</a>
                                          <a title="Upload Invoice" *ngIf="row.pdfPath==null"  (click)="uploadInvoice(row.ID)"><i class="fa fa-upload"> </i>&nbsp;</a>
                                          <a title="Clone Invoice" (click)="cloneInvoice(row.ID)"><i class="fa fa-clone"> </i>&nbsp;</a>
                                          <a title="Get Invoice" routerLink='/sales/invoice/{{row.ID}}' [queryParams]="{invoiceType: 2}"><i
                                                  class="fa fa-search"></i></a>

                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>