<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                          <h4 class="title">{{"banks" | translate |titlecase}} 
                                  <span style='float:right;'>
                                          <a routerLink='/finance/bank/0' style='color:gray;margin-right:10px;font-size:16px;'><i class='fa fa-plus-square-o'></i></a>
                                  </span>
                              </h4>
                              <p class="category">{{"These are available banks in Your Country" | translate |titlecase}}</p>
                          <!-- <legend></legend> -->
                          <br>
                      <div class="toolbar">
                          
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                    <th class='text-left'>{{ dataTable.headerRow[1] }}</th>
                                    <th class='text-left'>{{ dataTable.headerRow[2] }}</th>
                                    <th class='text-center'>{{ dataTable.headerRow[3] }}</th>
                                    <th class='text-right'>{{ dataTable.headerRow[4] }}</th>
                                    <th class='text-center'>{{ dataTable.headerRow[5] }}</th>
                                    <th class='text-right'>{{ dataTable.headerRow[6] }}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                      <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                          <td>{{i+1}}</td>
                                          <td class='text-left'><a routerLink='/finance/bank/{{row.bankID}}'>{{row.name | uppercase }}</a></td>
                                          <td class='text-left'>{{row.phone}}</td>
                                          <td class='text-center'><span class="btn btn-outline-primary btn-xs">{{row.SWIFT | uppercase}}</span></td>
                                          <td class='text-right'>{{row.country}}</td>
                                          <td class='text-center'>{{row.kepEmail}}</td>
                                          <td class="text-right tableicon">
                                                
                                                <a href="mailto:{{row.kepEmail}}?Subject=Merhaba"><i class="fa fa-envelope-o"> </i>&nbsp;</a>
                                                <a routerLink="/finance/bank/{{row.bankID}}"><i class="fa fa-search"> </i>&nbsp;</a>
                                            </td>
                                      </tr>
                                  </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
  </div>
  