<div class="main-content">

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="nav-container" class='float:left;'>
                  <ul class="nav nav-icons" role="tablist">
                      <li class="active">
                          <a href="#description-logo" role="tab" data-toggle="tab">
                              ALBUMS
                          </a>
                      </li>
                      <li>
                          <a href="#map-logo" role="tab" data-toggle="tab">
                              TRACKS
                          </a>
                        </li>
                      <li class="">
                          <a href="#legal-logo" role="tab" data-toggle="tab">
                              VIDEOS
                          </a>
                      </li>
                  </ul>
              </div>
  
              <div class="tab-content">
                  <div class="tab-pane active" id="description-logo">
                      <div class="card">
                          <div class="header">
                              <h4 class="title">Description about product</h4>
                              <p class="category">More information here</p>
                          </div>
  
                          <div class="content">
                              <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                              <p>The first thing you notice when you hold the phone is how great it feels in your hand. There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass that feels like one continuous surface.</p>
                          </div>
                      </div>
                  </div>
  
  
                  <div class="tab-pane" id="map-logo">
                      <div class="card">
                          <div class="header">
                              <h4 class="title">Location of product</h4>
                              <p class="category">Here is some text</p>
                          </div>
  
                          <div class="content">
                              <p>Another Text. The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.</p>
                              <p>Larger, yet dramatically thinner.It’s one continuous form where hardware and software function in perfect unison, creating a new generation of phone that’s better by any measure.</p>
                          </div>
                      </div>
                  </div>
  
  
                  <div class="tab-pane" id="legal-logo">
                      <div class="card">
                          <div class="header">
                              <h4 class="title">Legal items</h4>
                              <p class="category">More information here</p>
                          </div>
  
                          <div class="content">
                              <p>The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.</p>
                              <p>Larger, yet dramatically thinner.It’s one continuous form where hardware and software function in perfect unison, creating a new generation of phone that’s better by any measure.</p>
                          </div>
                      </div>
                  </div>
  
                  <div class="tab-pane" id="help-logo">
                      <div class="card">
                          <div class="header">
                              <h4 class="title">Help center</h4>
                              <p class="category">More information here</p>
                          </div>
  
                          <div class="content">
                              <p>From the seamless transition of glass and metal to the streamlined profile, every detail was carefully considered to enhance your experience. So while its display is larger, the phone feels just right.</p>
                              <p>Another Text. The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.</p>
                          </div>
                      </div>
                  </div>
  
              </div> <!-- end tab content -->
  
          </div> <!-- end col-md-8 -->
  
      </div> <!-- end row -->
  
  </div>
  </div>
  