<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                      <h4 class="title">{{"Users" | translate |titlecase}}
                          <span style='float:right;'>
                              <a routerLink='/admin/user' style='color:gray;margin-right:10px;font-size:16px;'><i
                                      class='fa fa-plus-square-o'></i></a>
                          </span>
                      </h4>
                      <p class="category">{{"These are your users" | translate |titlecase}}</p>
                      <!-- <legend></legend> -->
                      <br>
                      <div class="toolbar">

                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%"
                              style="width:100%">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>{{ 'Name' | translate }}</th>
                                      <th>{{ 'Company' | translate }}</th>
                                      <th>{{ 'Phone' | translate }}</th>
                                      <th class='text-center'>{{ 'Type' | translate }}</th>
                                      <th class='text-right'></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                      <td>{{i+1}}</td>
                                      <td><a routerLink='/admin/user/{{row.ID}}'>{{row.firstName+' '+row.lastName}}</a></td>
                                      <td>{{row.asNames}}</td>
                                      <td>{{row.phone}}</td>
                                      <td class='text-center'><span class="btn btn-success btn-xs">{{row.userTypeName | uppercase}}</span></td>
                                      <td class="text-right tableicon">
                                          <a href='mailto:{{row.email}}'><i class="fa fa-envelope-o"></i>&nbsp;</a>
                                          <a routerLink='/admin/user/{{row.ID}}'><i class="fa fa-search"></i>&nbsp;</a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>