<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <form method="post" class="form-horizontal">
                <h4 class="title">{{"File Description" | translate}}</h4>
                <div class="card">
                    <!-- mains will be here -->
                  
                    <div class="content">       
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{"Description" | translate}}</label>
                                <div class="col-sm-8">

                                    <input type="text" placeholder="" class="form-control" name="description" #description
                                     >
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <input type="file" accept="application/pdf" name="uf" style="display:none;" #fileInput (change)="onFileChange($event)"/>
                                    <a #fileLink (click)='addFile()' title='Add File' style='color:gray;margin-right:10px;cursor:pointer;'>{{"Select File" | translate}}</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="content" >
                    <div style='float:right;margin-bottom: 40px;'>
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">{{"Cancel" | translate}}</button>
                        <button class="btn btn-success btn-fill btn-wd" (click)="saveFile()" >{{"Save" | translate}}</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

