<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                      <h4 class="title">{{"xsltfiles" | translate |titlecase}}
                          <span style='float:right;'>
                              <a routerLink='/admin/xsltfile/0' style='color:gray;margin-right:10px;font-size:16px;'><i
                                      class='fa fa-plus-square-o'></i></a>
                          </span>
                      </h4>
                      <p class="category">{{"These are your xsltfiles" | translate |titlecase}}</p>
                      <!-- <legend></legend> -->
                      <br>
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%"
                              style="width:100%">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>{{ 'Supplier' | translate }}</th>
                                      <th>{{ 'TemplateCode' | translate }}</th>
                                      <th>{{ 'Template' | translate }}</th>
                                      <th>{{ 'xsltfile' | translate }}</th>
                                      <th>{{ 'Date' | translate }}</th>
                                      <th class='text-right'></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                      <td>{{i+1}}</td>
                                      <td><a routerLink='/admin/xsltfile/{{row.ID}}'>{{row.supplier}}</a></td>
                                      <td>{{row.templateCode}}</td>
                                      <td>{{row.template}}</td>
                                      <td><a target="_blank" href="/Uploads/files/{{row.fileName}}">{{row.fileName}}</a></td>
                                      <td>{{row.date_}}</td>
                                      <td class="text-right tableicon">
                                          <a routerLink='/admin/xsltfile/{{row.ID}}'><i class="fa fa-search"></i>&nbsp;</a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>