<div class="main-content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <h4 class="title">Vendors 
                      <span style='float:right;'>
                              <a routerLink='/sales/customer' style='color:gray;margin-right:10px;'><i class='fa fa-plus-square-o'></i></a>
                      </span>
                  </h4>
      
                  <div class="card">
                      <div class="content">
                          <div class="toolbar">
                              
                              <!--        Here you can write extra buttons/actions for the toolbar              -->
                          </div>
                          <div class="fresh-datatables">
                              <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                  <thead>
                                      <tr>
                                        <th>{{ dataTable.headerRow[0] }}</th>
                                        <th>{{ dataTable.headerRow[1] }}</th>
                                        <th>{{ dataTable.headerRow[2] }}</th>
                                        <th class='text-right'>{{ dataTable.headerRow[3] }}</th>
                                        <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                          <tr *ngFor="let row of dataTable.dataRows">
                                              <td>{{row.ID}}</td>
                                              <td><a routerLink='/sales/customer/{{row.ID}}'>{{row.customerShortName}}</a></td>
                                              <td>{{row.country}}</td>
                                              <td class='text-right'><button class="btn btn-xs btn-fill">{{row.cType | uppercase}}</button></td>
                                              <td><a title="Create Invoice" routerLink="/sales/invoice" [queryParams]="{invoiceType:2}"><span class="fas fa-file-invoice-dollar"></span></a></td>
                                          </tr>
                                      </tbody>
                              </table>
                          </div>
                      </div>
                      <!-- end content-->
                  </div>
                  <!--  end card  -->
              </div>
              <!-- end col-md-12 -->
          </div>
          <!-- end row -->
      </div>
      </div>
      