<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal">
          <h4 class="title">New/Edit XSLT File</h4>
          <div class="card">
            <!-- mains will be here -->
            <div class="header">
              <legend>XSLT File Card</legend>
            </div>
            <div class="content">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-10">
                            <select name="asID" [(ngModel)]="xsltfile.asID" 
                                class="selectpicker selectCompany"
                               data-title="Select To"
                                data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                <option *ngFor="let company of companies" [value]="company.ID">
                                    {{company.supplier}}</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Template Code</label>
                      <div class="col-sm-10">
                        <input type="text" placeholder="" class="form-control" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="xsltfile.templateCode">
                      </div>
                    </div>
                  </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Template</label>
                  <div class="col-sm-10">
                    <input type="text" placeholder="" class="form-control" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="xsltfile.template">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">XSLT File</label>
                  <div class="col-sm-10" style="padding-top:10px;">
                      <input type="file" name="uf" style="display:none;" #fileInput
                          (change)="onFileChange($event)" />
                      <a title="Upload Invoice"
                          (click)="uploadXSLT(xsltfile.ID)">Upload XSLT File
                      </a>
                      {{xsltfile.fileName}}
                      
                  </div>
              </div>
              </fieldset>
            </div>
              <div class="content">
                        <button #btnSave
                            class="btn btn-default btn-fill btn-wd" (click)="clickDelete(content)">DELETE</button>
                      
                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd"
                                (click)="clickCancel()">CANCEL</button>
                            <button style='margin-right:5px;' #btnSave
                                class="btn btn-success btn-fill btn-wd" (click)="clickSave()">SAVE</button>                           
                        </div>
                    </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

