<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form method="post" class="form-horizontal">
          <h4 class="title">Search Customer</h4>
          <div class="card">
            <!-- mains will be here -->
            <div class="content">
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">VKN/TCKN</label>
                  <div class="col-sm-3">
                    <input type="text" placeholder="" class="form-control" name="vkn"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="vkn">
                  </div>
                  <label class="col-sm-1 control-label"> veya </label>
                  <label class="col-sm-2 control-label">Title</label>
                  <div class="col-sm-4">
                    <input type="text" placeholder="" class="form-control" name="title"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="title">
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="content">
                  <div style='float:right;'>
                    <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd"
                      (click)="clickCancel()">CANCEL</button>
                    <button class="btn btn-success btn-fill btn-wd" (click)="searchCustomer()">SEARCH</button>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="content">
              <h3 class="title">{{"Search Result"| translate}}</h3>
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">VKN/TCKN</label>
                  <label class="col-sm-4 control-label" style="text-align:left;">{{customer.IDENTIFIER}}</label>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">TITLE</label>
                  <label class="col-sm-4 control-label" style="text-align:left;">{{customer.TITLE}}</label>
                </div>
                <div class="form-group">  
                  <label class="col-sm-2 control-label">URN</label>
                  <label class="col-sm-4 control-label" style="text-align:left;">{{customer.ALIAS}}</label>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">DATE</label>
                  <label class="col-sm-4 control-label" style="text-align:left;">{{customer.REGISTER_TIME}}</label>
                </div>
              </fieldset>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>