<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                          <h4 class="title">{{"cashaccount" | translate |titlecase}} 
                                  <span style='float:right;'>
                                          <a routerLink='/bank'  style='color:gray;margin-right:10px;'><i class='fa fa-plus-square-o'></i></a>
                                          <!-- (click)="openModal(row.ID)" -->
                                  </span>
                              </h4>
                              <p class="category">{{"These are your cash accounts" | translate |titlecase}}</p>
                          <!-- <legend></legend> -->
                          <br>
                      <div class="toolbar">
                          
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                    <th class='text-left'>{{ dataTable.headerRow[1] | translate }}</th>
                                    <th class='text-left'></th>
                                    <th class='text-center'></th>
                                    <th class='text-right'></th>
                                    <th class='text-center'>{{ dataTable.headerRow[5] | translate}}</th>
                                    <th class='text-right'>{{ dataTable.headerRow[6] | translate}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                      <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                          <td>{{i+1}}</td>
                                          <td class='text-left'>{{row.account}}</td>
                                          <td class='text-left'>{{row.bank}}</td>
                                          <td class='text-center'></td>
                                          <td class='text-right'></td>
                                          <td class='text-center'><span class="btn btn-success btn-xs">{{row.currency}}</span></td>
                                          <td class="text-right tableicon">
                                                <a routerLink="/finance/transactions/{{row.ID}}"><i class="fa fa-navicon"> </i>&nbsp;</a>
                                            </td>
                                      </tr>
                                  </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
  </div>
  