<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form  method="post" class="form-horizontal">
                    <h4 class="title">New/Edit Banner</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"Banner" | translate}}</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Banner</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="banner.banner">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Start Time</label>
                                    <div class="col-sm-4">
                                        <input type="text" [(ngModel)]="banner.startTime" [ngModelOptions]="{standalone: true}"
                                                name="startTime" class="form-control dates"
                                                placeholder="Start Time" />
                                    </div>
                                    <label class="col-sm-2 control-label">End Time</label>
                                    <div class="col-sm-4">
                                        <input type="text" [(ngModel)]="banner.endTime" [ngModelOptions]="{standalone: true}"
                                                name="endTime" class="form-control dates"
                                                placeholder="End Time" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Banner Image</label>
                                    <div class="col-sm-10" style="padding-top:10px;">
                                        <input type="file" name="uf" style="display:none;" #fileInput accept="image/png, image/jpeg"
                                            (change)="onFileChange($event)" />
                                        <a *ngIf="banner.ID>0 && banner.photo==0" title="Upload Banner"
                                            (click)="uploadBanner(banner.ID)">Upload Banner Image
                                            <span style="float:right;"><i class="fa fa-upload"></i></span>
                                        </a>
                                        {{banner.fileName}}
                                        <span style="float:right;">
                                            <a style="margin-top:10px;" *ngIf="banner.photo>0" title="Get Banner"
                                                target="_blank"
                                                href="https://localhost/doganapi/Uploads/files/{{banner.fileName}}"><i
                                                    class="fa fa-search"></i></a>
                                            &nbsp;<a style="margin-top:10px;cursor: pointer;"
                                                *ngIf="banner.photo>0" title="Delete Banner"
                                                (click)="deleteBanner(banner.ID)">
                                                <i class="fa fa-trash"> </i>&nbsp;</a>
                                        </span>

                                    </div>
                                </div>
                            </fieldset>
                          
                        </div>
                       
                    </div> <!-- end card -->


                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" *ngIf="banner.ID>0"
                            (click)="deleteBanner()">DELETE</button>
                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" 
                                (click)="clickCancel()">CANCEL</button>
                            <button (click)="saveBanner()" class="btn btn-success btn-fill btn-wd">SAVE</button>
                        </div>
                    </div>
                </form>
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->

    </div>
</div>