<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal">
                    <h4 class="title">{{"New/Edit Product & Service" | translate}}</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"Product & Service Card" | translate}}</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Name" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="product"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="product.product">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Description" | translate}}</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" placeholder="{{'Description' | translate}}" rows="3" name="description"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="product.description"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Price" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="price"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="product.price">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Currency" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select name="currency" [(ngModel)]="product.currency" 
                                            class="selectpicker selectCurrency" data-title="{{'Currency' | translate}}" data-style="btn-default btn-block"
                                            data-menu-style="dropdown-blue">
                                            <option [value]="1">TRY</option>
                                            <option [value]="2">USD</option>
                                            <option [value]="3">EUR</option>
                                            <option [value]="4">GBP</option>

                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Buy / Sell This" | translate}}
                                    </label>
                                    <div class="col-sm-10">
                                        <select name="isVendor" [(ngModel)]="product.isVendor" class="selectpicker selectisVendor"
                                            (change)="clearValues()" data-title="{{'Buy / Sell' | translate}}" data-style="btn-default btn-block"
                                            data-menu-style="dropdown-blue">
                                            <option [value]="2">{{"Buy" | translate}}</option>
                                            <option [value]="1">{{"Sell" | translate}}</option>
                                            <option [value]="3">{{"Both" | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                    </label>
                                    <div class="col-sm-10">
                                        <span class="col-md-12" style='font-size: 10px;color:gray;'>Allow the above
                                            product/service to be added to Invoices/Bills</span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Expense Account" | translate}}</label>
                                    <div class="col-sm-4">
                                        <input type="text" #accountBuy placeholder="" class="form-control" name="accountBuy"
                                            disabled [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="product.accountBuy">
                                    </div>
                                    <label class="col-sm-2 control-label">{{"Income Account" | translate}}</label>
                                    <div class="col-sm-4">
                                            <select #accountSell name="accountSell" [(ngModel)]="product.accountSell" class="selectpicker selectAccountSell" 
                                            data-title="{{'Select' | translate}}" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option *ngFor="let coa of chartOfAccounts" [value]="(coa.account+'.'+coa.subAccount)">{{coa.account+"."+coa.subAccount+" "+coa.accName+" ("+coa.masterAccName+")"}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Tax" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select name="taxRate" [(ngModel)]="product.taxRate" class="selectpicker selecttaxRate"
                                            data-title="{{'Tax' | translate}}" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option [value]=0>0%</option>
                                            <option [value]=1>1%</option>
                                            <option [value]=8>8%</option>
                                            <option [value]=18>18%</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="deleteProduct()">{{"Delete" | translate}}</button>
                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">{{"Cancel" | translate}}</button>
                            <button class="btn btn-success btn-fill btn-wd" (click)="saveProduct()">{{"Save" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>