<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <form method="post" class="form-horizontal">
                <h4 class="title">Note</h4>
                <div class="card">
                    <!-- mains will be here -->
                    <div class="header">
                        <legend>{{"Note" | translate}}</legend>
                    </div>
                    <div class="content">       
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea rows="3" class="form-control" placeholder="Notes" [(ngModel)]="transaction.notes"
                                    name="notes"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="content" >
                    <div style='float:right;margin-bottom: 40px;'>
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">CANCEL</button>
                        <button class="btn btn-success btn-fill btn-wd" (click)="saveNote()" >SAVE</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

