<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <form method="post" class="form-horizontal">
                  <div class="card">
                      <div class="content">
                            <h4 class="title">{{"BABS"| translate}}
                                    <span style='float:right;'>
                                        <a title="Excel Export" style="cursor:pointer;" (click)="excelExport()" style='color:gray;margin-right:10px;font-size:16px;'><i class='fa fa-file-excel-o'></i></a>
                                    </span>
                                    <span style='float:right;'>
                                        <a title="Select Term" style="cursor:pointer;" (click)="selectTerm()" style='color:gray;margin-right:10px;font-size:16px;'><i class='fa fa-calendar'></i></a>
                                    </span>
                                </h4>   
                  
                      </div>
                      <div class="content">
                            
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0"
                              width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                      <th class='text-center'>{{"Term" | translate | uppercase}}</th>
                                      <th class='text-left'>{{"Customer" | translate | uppercase}}</th>
                                      <th class="text-right">{{"Form Type" | translate | uppercase}}</th>
                                      <th class="text-right">{{"Invoice Count" | translate | uppercase}}</th>
                                      <th class="text-right">{{"Amount" | translate | uppercase}}</th>
                                      <th class="text-center"></th>
                                      <th class="text-center">{{"Response Date" | translate | uppercase}}</th>
                                      <th class="text-center">{{"Response" | translate | uppercase}}</th>   
                                      <th></th>   
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                      <td class='text-center'>{{row.term}}</td>
                                      <td class='text-left'>{{row.customer | titlecase}}</td>
                                      <td class='text-center'>{{row.formType | uppercase}}</td>
                                      <td class='text-right'>{{row.invoiceCount | number}}</td>
                                      <td class='text-right'>{{row.amount | number}}</td>
                                      <td></td>
                                      <td class='text-center'>{{row.responseDate}}</td>
                                      <td class='text-center'><span *ngIf="row.responseText!='' ? true : false" class="btn btn-xs ">{{row.responseText | uppercase}}</span></td>
                                      <td class='text-center'><a *ngIf="row.responseFile!='' ? true : false" href="https://crmapi.efdigitalcodes.com/Uploads/babs/{{row.responseFile}}" target="_blank"><i class="fa fa-paperclip"></i></a></td>
                                  </tr>
                              </tbody>
                             
                          </table>
                      </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

