<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="orange" data-image="../../../assets/img/full-screen-image-1.jpg">

        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content" *ngIf="!showContract">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form method="#" action="#">

                            <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
                            <div class="card card-hidden">
                                <div class="header text-center">{{"Login" | translate}}</div>
                                <div class="content">
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="email" #email placeholder="Enter email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" #password placeholder="Password" class="form-control">
                                    </div>
                                    <span *ngIf="notLoggedIn>0">Check Email and Password !</span>

                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-fill btn-wd" (click)="login()">{{"Login" | translate }}</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="content" *ngIf="showContract">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header text-center">{{"Contract" | translate}}</div>
                            <div class="content">
                                <p style="text-align: justify;">{{contract.contract}}</p>
                                <div class="form-group">
                                        <div class="col-sm-6 checkbox" style="padding-top: 10px;">
                                            <input id="approved" type="checkbox" [(ngModel)]="approved"
                                                name="approved">
                                            <label for="approved">
                                                    {{"approve" | translate}}
                                            </label>
                                        </div>
                                        <button type="button" class="btn btn-fill btn-wd" style="float:right;" [disabled]="!approved" (click)="saveContract()">{{"approved" | translate}}</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Web
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Factory Floor
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                EF Codes
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Distronaut
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; {{test | date: 'yyyy'}} <a href="http://www.doganedonusum.com/">Doğan E-Dönüşüm</a>
                </p>
            </div>
        </footer>

    </div>

</div>