<div class="logo">
    <div style="width:100%;text-align:center;">
        <a href="http://www.doganedonusum.com/">
            <img src="../../assets/img/DGN-LOGO-SİYAH-800x502.png" style="width:65px;" />
        </a>
    </div>
</div>

<div class="sidebar-wrapper">
    <div class="user">
        <div class="info">
            <a data-toggle="collapse" href="#collapseSideBar" class="collapsed">
                <span>
                    {{accountingSupplier}}
                    <b class="caret"></b>
                </span>
            </a>
            <div class="collapse" id="collapseSideBar">
                <ul class="nav">
                    <li *ngFor="let item of accountingSuppliers">
                        <a (click)="selectAS(item.ID)">
                            <span class="sidebar-mini">MP</span>
                            <span class="sidebar-normal">{{item.supplier}}</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a (click)="addNew()">
                            <span class="sidebar-mini">A</span>
                            <span class="sidebar-normal">{{'add new business' |translate |titlecase}}</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
            <!--If is a single link-->
            <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
                <i class="{{menuitem.icontype}}"></i>
                <p>{{menuitem.title|translate|titlecase}}</p>
            </a>
            <!--If it have a submenu-->
            <a data-toggle="collapse" href="#{{menuitem.title}}" *ngIf="menuitem.type === 'sub'">
                <i class="{{menuitem.icontype}}"></i>
                <p>{{menuitem.title|translate|titlecase}}<b class="caret"></b></p>
            </a>

            <!--Display the submenu items-->
            <div id="{{menuitem.title}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
                        <a [routerLink]="[menuitem.path, childitem.path]">
                            <span class="sidebar-mini">{{childitem.ab|translate|titlecase}}</span>
                            <span class="sidebar-normal">{{childitem.title|translate|titlecase}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="sidebar-sticky-button">
        <li>{{"Balance" | translate}}: {{balance}} 0</li>
    </ul>

</div>