<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="customer.ID!=0" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">{{"Customer Summary"| translate |titlecase}}
                            <!-- Burada eger tedarikci ise Customer>Vendor olacak -->
                            <span style='float:right;'><a data-target="#collapseOne" data-toggle="collapse"><i style='color:gray;margin-right:10px;'
                                        class="fa fa-ellipsis-h"> </i>&nbsp;</a></span>
                        </h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div id="collapseOne" class="panel-collapse collapse">

                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            {{"Graph" | translate}}
                                        </div>
                                        <div class="col-md-6">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>3 {{"Months Ago" | translate}}</th>
                                                        <th>2 {{"Months Ago" | translate}}</th>
                                                        <th>{{"Last Month" | translate}}</th>
                                                        <th>{{"Cumulative" | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let ci of customerInvoices">
                                                        <td>{{ci.title}}</td>
                                                        <td style='text-align: center;'>{{ci.M3}}</td>
                                                        <td style='text-align: center;'>{{ci.M2}}</td>
                                                        <td style='text-align: center;'>{{ci.M1}}</td>
                                                        <td style='text-align: center;'>{{ci.M0}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
                    <h4 class="title">{{"New/Edit Customer" | translate}}</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"Customer Card" | translate}}</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Short Name" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="customerShortName" 
                                            ngClass="{{f.customerShortName.invalid ? 'error' : ''}}"
                                            [(ngModel)]="customer.customerShortName" >
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Official Name" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="customer" 
                                            ngClass="{{f.customer.invalid ? 'error' : ''}}"
                                            [(ngModel)]="customer.customer">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Payment Terms" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select formControlName="dueDateOptions" [(ngModel)]="customer.dueDateOptions" class="selectpicker selectdueDateOptions"
                                            data-title="" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option [value]="1">{{"Same Day" | translate}}</option>
                                            <option [value]="2">7</option>
                                            <option [value]="3">14</option>
                                            <option [value]="4">30</option>
                                            <option [value]="5">60</option>
                                            <option [value]="6">90</option>
                                            <option [value]="7">180</option>
                                            <option [value]="8">360</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Type" | translate}}</label>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <input type="radio" #radioCorp name="radio" id="radioCorp" value="1" (change)="onCtChange(1)" 
                                                [checked]="customer.customerType==1 || customer.ID==0">
                                            <label for="radioCorp">
                                                {{"Corporate" | translate}}
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" #radioInd name="radio" id="radioInd" value="2" (change)="onCtChange(2)"
                                                [checked]="customer.customerType==2">
                                            <label for="radioInd">
                                                {{"Individual" | translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Customer and Supplier" | translate}}</label>
                                    <div class="col-sm-10 checkbox" style="margin-top:5px;">    
                                        <input id="isVendor2" type="checkbox"  name="isVendor2" [checked]="isVendor2"> 
                                        <label for="isVendor2">

                                        </label>
                                    </div>
                                </div>   
                            </fieldset>
                            <fieldset>
                                <!--Burası eger radıo 1 secılırse cıkacak-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Tax Authority" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="vatAuthority" 
                                            ngClass="{{f.vatAuthority.invalid ? 'error' : ''}}"
                                            [(ngModel)]="customer.vatAuthority">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <!--Burası eger radıo 1 secılırse cıkacak-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Tax Number" | translate}}</label>
                                    <div class="col-sm-10"> 
                                        <input type="text" placeholder="" class="form-control" formControlName="vatNumber" 
                                            ngClass="{{f.vatNumber.invalid ? 'error' : ''}}"
                                            [(ngModel)]="customer.vatNumber">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <!--Burası eger radıo 1 secılırse cıkacak-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Commerce Authority Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [(ngModel)]="customer.commerceAuthorityNo"  formControlName="commerceAuthorityNo">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="header">
                            <legend></legend>

                        </div>
                        <br>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Building No" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [(ngModel)]="customer.buildingNumber" formControlName="buildingNumber">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Address" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="address" 
                                             [(ngModel)]="customer.address">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"District" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control"  formControlName="district" [(ngModel)]="customer.district" ngClass="{{f.district.invalid ? 'error' : ''}}">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"City" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="city" ngClass="{{f.city.invalid ? 'error' : ''}}"
                                             [(ngModel)]="customer.city">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Country" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="country" ngClass="{{f.country.invalid ? 'error' : ''}}"
                                             [(ngModel)]="customer.country">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <i class='fa fa-envelope-square'></i>
                                        {{"Email" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="email" 
                                            [(ngModel)]="customer.email">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <i class='fa fa-phone-square'></i>
                                        {{"Phone Number" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control"  formControlName="phone"
                                            [(ngModel)]="customer.phone">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">URN</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control"  formControlName="pbox"
                                             [(ngModel)]="customer.pbox">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="header">
                            <legend>{{"Bank Account" | translate}}</legend>
                        </div>
                        <br>
                        <div class="content">
                            <!-- detail will be here -->
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Bank" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select formControlName="bankID" [(ngModel)]="customer.bankID" (change)="setBankID($event,i)"
                                        class="selectpicker selectBank"
                                        data-title="{{'Select Bank' | translate}}" data-style="btn-default btn-block"
                                        data-menu-style="dropdown-blue">
                                        <option  selected *ngFor="let bank of banks" [value]="bank.ID" id="{{bank.ID}}"> 
                                            {{bank.name}}</option>
                                    </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">IBAN</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="IBAN" 
                                             [(ngModel)]="customer.IBAN">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="header">
                            <legend>{{"Contact" | translate}}</legend>
                        </div>
                        <br>
                        <div class="content">
                            <!-- detail will be here -->
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"First/Last Name" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="customerContact" 
                                             [(ngModel)]="customer.customerContact">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        <i class='fa fa-envelope-square'></i>
                                        {{"Email" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="customerContactEmail" ngClass="{{f.customerContactEmail.invalid ? 'error' : ''}}"
                                            [(ngModel)]="customer.customerContactEmail">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <br>

                    </div> <!-- end card -->

                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="deleteCustomer()">{{"Delete" | translate}}</button>

                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">{{"Cancel" | translate}}</button>
                            <button type="submit" class="btn btn-success btn-fill btn-wd" >{{"Save" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->

    </div>
</div>