<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                        <div class="content">
                                <h4 class="title">{{"products" | translate |titlecase}} 
                                        <span style='float:right;'>
                                                <a routerLink='/sales/product' [queryParams]="{isVendor:2}" style='color:gray;margin-right:10px;font-size:16px;'><i class='fa fa-plus-square-o'></i></a>
                                        </span>
                                    </h4>
                                    <p class="category">{{"These are the products you can buy"| translate |titlecase}}</p>
                                <!-- <legend></legend> -->
                                <br>
                      <div class="toolbar">
                          
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                        <tr>
                                          <th style="width:5%;">#</th>
                                          <th >{{"Name" | translate |titlecase}}</th>
                                          <th style="width:5%;" class="text-center "></th>
                                          <th style="width:5%;" class="text-center ">{{"Tax" | translate |titlecase}}</th>
                                          <th style="width:10%;" class="text-right ">{{"Price" | translate |titlecase}}</th>
                                          <th style="width:10%;" class="text-right">{{"Actions" | translate |titlecase}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                                <td>{{i+1}}</td>
                                                <td><a routerLink='/sales/product/{{row.ID}}' [queryParams]="{isVendor:2}">{{row.product}}</a></td>
                                                <td class="text-center"><span class="btn btn-success btn-xs">{{row.currency| uppercase}}</span></td>
                                                <td class="text-center ">%{{row.taxRate}}</td>
                                                <td class="text-right">{{row.price | currency : row.currency}}</td>
                                                <td class="text-right tableicon">
                                                  <a routerLink='/sales/product/{{row.ID}}' [queryParams]="{isVendor:2}"><i class="fa fa-search"> </i>&nbsp;</a>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
  </div>
  