<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <form method="post" class="form-horizontal">
                <h4 class="title text-center">Invoice #{{invoice.invoiceNumber}}</h4>
                    <!-- mains will be here -->
                    <div class="header text-center" >
                        <legend style="border:none !important;">{{"Select Account ?" | translate}}</legend>
                    </div>
                    <fieldset>
                        <div class="form-group">
                           
                            <label class="col-sm-4 control-label">Account</label>
                            <div class="col-sm-8">
                                    <select #account name="account" [(ngModel)]="invoice.account" class="selectpicker selectAccount" 
                                    data-title="Select To" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                    <option *ngFor="let coa of chartOfAccounts" [value]="(coa.account+'.'+coa.subAccount)">{{coa.account+"."+coa.subAccount+" "+coa.accName+" ("+coa.masterAccName+")"}}</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8" *ngIf="invoice.invoiceRule>0" style="color:red;"> Rule Exists!&nbsp;<a style="cursor:pointer;color:red;" title="Delete Rule" (click)="removeRule(invoice.invoiceRule)"><i class="fa fa-remove"></i></a></div>
                            <div class="col-sm-8 checkbox" *ngIf="!invoice.invoiceRule>0">
                                <input id="rule" type="checkbox"  name="rule" [(ngModel)]="rule"> 
                                <label for="rule">
                                    Add Rule
                                </label>
                            </div>
                           
                        </div>
                    </fieldset>
                <div class="content text-right" >
                  <div style='margin-bottom: 40px;'>
                      <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">CANCEL</button>
                      <button class="btn btn-success btn-fill btn-wd" (click)="postAccount()" >SAVE</button>
  
                  </div>
              </div>
            </form>
            </div>
        </div>
    </div>
  </div>