<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
            <h4 class="title">{{"payroll"| translate |titlecase}} </h4>
            <p class="category">{{"Your payroll here"| translate |titlecase}}</p>
            <br>
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="fresh-datatables">
              <table id="datatables" class="table table-no-bordered table-hover text-center" cellspacing="0" width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th hidden>{{ dataTable.headerRow[0] }}</th>
                    <th>Ay</th>
                    <th>SSK Isci</th>
                    <th>Issizlik Isci</th>
                    <th>Gelir Vergisi</th>
                    <th>Damga Vergisi</th>
                    <th>Kumulatif Matrah</th>
                    <th>Brut</th>
                    <th>AGI</th>
                    <th>Ele Gecen</th>
                    <th>SSK Isveren</th>
                    <th>Issizlik Isveren</th>
                    <th>Maliyet</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows; let i = index">
                    <td hidden>{{i+1}}</td>
                    <td><b>{{row.MonthName}}</b></td>
                    <td>{{row.A2}}</td>
                    <td>{{row.A3}}</td>
                    <td>{{row.A4}}</td>
                    <td>{{row.A5}}</td>
                    <td>{{row.A8}}</td>
                    <td>{{row.A1}}</td>
                    <td>{{row.A10}}</td>
                    <td><b>{{row.A11}}</b></td>
                    <td>{{row.A12}}</td>
                    <td>{{row.A13}}</td>  
                    <td>{{row.A14}}</td> 
                   
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>