<nav #pagesnavbar class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">DOĞAN E-Dönüşüm</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="display: none;" routerLinkActive="active" [routerLink]="['/pages/login']">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <p>Login</p>
                    </a>
                </li>
                <li>
                    <a style="display: none;" routerLinkActive="active" [routerLink]="['/pages/register']">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <p>Register</p>
                    </a>
                </li>
                <li>
                    <a style="display: none;" routerLinkActive="active" [routerLink]="['/pages/lock']">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <p>Lock Screen</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
