<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" [formGroup]="userForm">
                    <h4 class="title">New/Edit User</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"User Card" | translate}}</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">First Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control"
                                            formControlName="firstName" [(ngModel)]="user.firstName">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Last Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control"
                                            formControlName="lastName" [(ngModel)]="user.lastName">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="userType==1">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User Type</label>
                                    <div class="col-sm-10">
                                        <select formControlName="userType" [(ngModel)]="user.userType"
                                            class="selectpicker selectuserType" data-title=""
                                            data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option selected *ngFor="let userType of userTypes" [value]="userType.ID">
                                                {{userType.userType}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Phone</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="phone"
                                            [(ngModel)]="user.phone">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">E-Mail</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" formControlName="email"
                                            [(ngModel)]="user.email" ngClass="{{f.email.invalid ? 'error' : ''}}">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" placeholder="" class="form-control"
                                            formControlName="password" [(ngModel)]="user.password">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Language</label>
                                    <div class="col-sm-10">
                                        <select name="clang" [(ngModel)]="user.clang" 
                                            class="selectpicker selectclang" data-title="Language" data-style="btn-default btn-block"
                                            data-menu-style="dropdown-blue">
                                            <option  value="tr">TR</option>
                                            <option  value="en">EN</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                        <div class="accountsupplier" *ngIf="userType==1">
                            <div class="header">
                                    <legend>{{"Account Supplier" | translate}}</legend>
                                </div>
                            <div class="content">
                                <fieldset *ngFor="let uas of user.AS; let i = index">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <span style="padding-inline-start:10px !important;">{{uas.supplier}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group" >
                                            <input style="height:21px !important;" type="checkbox" class="form-control" name="asID{{uas.ID}}" (change)="checkAS (uas.ID,i)" [checked]="uas.uaID>0"/>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div> <!-- end card -->


                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" *ngIf="userType==1"
                            (click)="deleteUser()">DELETE</button>

                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" *ngIf="userType==1"
                                (click)="clickCancel()">CANCEL</button>
                            <button (click)="saveUser()" class="btn btn-success btn-fill btn-wd">SAVE</button>
                        </div>
                    </div>
                </form>
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->

    </div>
</div>