<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
          <form method="post" class="form-horizontal">
              <h4 class="title text-center">Invoice #{{invoice.invoiceNumber}}</h4>
                  <!-- mains will be here -->
                  <div class="header text-center" >
                      <legend style="border:none !important;">{{"Would you like to approve this invoice?" | translate}}</legend>
                  </div>
              <div class="content text-center" >
                <div style='margin-bottom: 40px;'>
                    <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">CANCEL</button>
                    <button style='margin-right:5px;' class="btn btn-danger btn-fill btn-wd" (click)="approveInvoice(2)" >REJECT</button>
                    <button class="btn btn-success btn-fill btn-wd" (click)="approveInvoice(3)" >APPROVE</button>

                </div>
            </div>
          </form>
          </div>
      </div>
  </div>
</div>

