<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
  
  
              <div class="card">
                  <div class="content">
                        <h4 class="title">{{"contracts" | translate |titlecase}} 
                                <span style='float:right;'>
                                        <a routerLink='/admin/contract/0' style='color:gray;margin-right:10px;font-size:16px;'><i class='fa fa-plus-square-o'></i></a>
                                </span>
                            </h4>
                            <p class="category">{{"These are the contracts"| translate |titlecase}}</p>
                        <!-- <legend></legend> -->
                        <br>
                      <div class="toolbar">
                          
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th style="width:5%;">#</th>
                                    <th >{{"Title" | translate |titlecase}}</th>
                                    <th style="width:15%;" class="text-center ">{{"Date" | translate |titlecase}}</th>
                                    <th style="width:25%;" class="text-center ">{{"User" | translate |titlecase}}</th>
                                    <th style="width:2%;" class="text-right">{{"isActive" | translate |titlecase}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                      <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                          <td>{{i+1}}</td>
                                          <td><a routerLink='/admin/contract/{{row.ID}}'>{{row.contractTitle}}</a></td>
                                          <td class="text-center">{{row.contractDate}}</td>
                                          <td class="text-center">{{row.fullName}}</td>
                                          <td class="text-center "><i class="fa fa-check" *ngIf="row.isActive" aria-hidden="true"></i></td>
                                          <td class="text-right tableicon">
                                            <a routerLink='/admin/contract/{{row.ID}}'><i class="fa fa-search"> </i>&nbsp;</a>
                                          </td>
                                          
                                      </tr>
                                  </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
  </div>
  