<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form method="post" class="form-horizontal">
          <h4 class="title text-center">{{"Term" | translate}}</h4>
          <!-- mains will be here -->
          <div class="header text-center">
            <legend style="border:none !important;">{{"Select term for BABS?" | translate}}</legend>
          </div>
          <div class="content text-center">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"Year" | translate}}</label>
                <div class="col-sm-4">
                  <select name="y" [(ngModel)]="y" class="selectpicker selectYear" data-title="Year"
                    data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                    <option [value]="2019">2019</option>
                    <option [value]="2020">2020</option>
                    <option [value]="2021">2021</option>
                    <option [value]="2022">2022</option>
                    <option [value]="2023">2023</option>
                    <option [value]="2024">2024</option>
                  </select>
                </div>
                <label class="col-sm-1 control-label">{{"Month" | translate}}</label>
                <div class="col-sm-4">
                  <select name="m" [(ngModel)]="m" class="selectpicker selectMonth" data-title="Month"
                    data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                    <option [value]="1">{{"January" | translate}}</option>
                    <option [value]="2">{{"February" | translate}}</option>
                    <option [value]="3">{{"March" | translate}}</option>
                    <option [value]="4">{{"April" | translate}}</option>
                    <option [value]="5">{{"May" | translate}}</option>
                    <option [value]="6">{{"June" | translate}}</option>
                    <option [value]="7">{{"July" | translate}}</option>
                    <option [value]="8">{{"August" | translate}}</option>
                    <option [value]="9">{{"September" | translate}}</option>
                    <option [value]="10">{{"October" | translate}}</option>
                    <option [value]="11">{{"November" | translate}}</option>
                    <option [value]="12">{{"December" | translate}}</option>
                  </select>
                </div>

              </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{"With Email?" | translate}}</label>
                    <div class="col-sm-4 checkbox" style="padding-top: 10px;">
                        <input id="withMail" type="checkbox" [(ngModel)]="withMail"
                            name="withMail" >
                        <label for="withMail">

                        </label>
                    </div>
                </div>
            </fieldset>
            <div style='margin-bottom: 40px;'>
              <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd"
                (click)="clickCancel()">{{"Cancel" | translate}}</button>
              <button class="btn btn-success btn-fill btn-wd" (click)="generateBABS()">{{"Generate" | translate}}</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>