<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal">
                    <h4 class="title">New/Edit Expense</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>Expense Card</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Merchant</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="merchant"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.merchant">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Receipt Number</label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="" class="form-control" name="expenseNumber"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.expenseNumber">
                                        </div>
                                    </div>
                                </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Date</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="expenseDate" class="form-control datetimepicker"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.expenseDate" placeholder="Pick Date Time" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Payment Account</label>
                                    <div class="col-sm-10">
                                        <select name="expenseAccount" [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.expenseAccount"
                                            class="selectpicker selectPaymentAccount" data-title="Payment Account" data-style="btn-default btn-block"
                                            data-menu-style="dropdown-blue">
                                            <option value="1">Cash</option>
                                            <option value="2">Credit</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Category</label>
                                    <div class="col-sm-10">
                                        <select name="expenseCategory" [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.expenseCategory"
                                            class="selectpicker selectexpenseCategory" data-title="Category" data-style="btn-default btn-block"
                                            data-menu-style="dropdown-blue">
                                            <option *ngFor="let ec of expenseCategories" [value]="ec.ID">{{ec.category | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Currency</label>
                                        <div class="col-sm-10">
                                            <select name="currency" [(ngModel)]="expense.currency" (change)="changeCurrency($event)"
                                                class="selectpicker selectCurrency" data-title="Currency" data-style="btn-default btn-block"
                                                data-menu-style="dropdown-blue">
                                                <option value="1">TRY</option>
                                                <option value="2">USD</option>
                                                <option value="3">EUR</option>
                                                <option value="4">GBP</option>
    
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">VAT</label>
                                            <div class="col-sm-10">
                                                <select name="vatRate" [(ngModel)]="expense.vatRate" 
                                                    class="selectpicker selectvatRate" data-title="Vat Rate" data-style="btn-default btn-block"
                                                    (change)="vatChanged($event.target.value)"
                                                    data-menu-style="dropdown-blue">
                                                    <option selected value="18">%18</option>
                                                    <option selected value="8">%8</option>
                                                    <option selected value="1">%1</option>
                                                    <option selected value="0">%0</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-8 control-label">Sub Total</label>
                                    <div class="col-sm-4">
                                        <input 
                                            type="text" placeholder="Sub Total" class="form-control text-right"
                                            name="amount"
                                             [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.amount">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-8 control-label">Vat Total</label>
                                    <div class="col-sm-4">
                                        <input 
                                            type="text" placeholder="Vat Total" class="form-control text-right" disabled
                                             name="vatAmount"  [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.vatAmount">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-8 control-label">Total</label>
                                    <div class="col-sm-4">
                                        <input 
                                            type="text" placeholder="Total" class="form-control text-right" disabled
                                             name="totalAmount" [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.totalAmount">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Notes</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" placeholder="Description" rows="3" name="notes"  [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.notes"
                                           ></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="deleteExpense()">DELETE</button>

                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">CANCEL</button>
                            <button class="btn btn-success btn-fill btn-wd" (click)="saveExpense()" >SAVE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>