<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

          <ngx-hm-carousel ngDefaultControl
          [(ngModel)]="index"
          (ngModelChange)="indexChanged($event)"
          [autoplay-speed]="speed"
          [autoplay]="autoplay"
          [autoplay-direction]="direction"
          [infinite]="infinite"
          [between-delay]="2000"
          [data]="avatars"
          [aniTime]="200"
          class="carousel">
        
          <section ngx-hm-carousel-container class="content">
            <article class="item cursor-pointer visible_important"
              ngx-hm-carousel-item
              *ngFor="let avatar of avatars; let i = index">
              <div class="img"
                [style.backgroundImage]="'url('+avatar.url+')'">
              </div>
            </article>
            <ng-template #infiniteContainer></ng-template>
          </section>
        
          <ng-template #carouselContent let-avatar let-i="index">
            <article class="item cursor-pointer visible_important">
              <div class="img"
                [style.backgroundImage]="'url('+avatar.url+')'">
              </div>
            </article>
          </ng-template>
        
          <ng-template #carouselPrev>
            <div class="click-area">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </div>
          </ng-template>
          <ng-template #carouselNext>
            <div class="click-area">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </ng-template>
        
          <ng-template #carouselDot let-model>
            <div class="ball bg-accent"
              [class.visible]="model.index === model.currentIndex"></div>
          </ng-template>
        
        </ngx-hm-carousel>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <lbd-chart [title]="getTranslate('salesinvoicessummary')" [subtitle]="''" [chartType]="activityChartType"
          [chartData]="activityChartData" [chartOptions]="activityChartOptions"
          [chartResponsive]="activityChartResponsive" [legendItems]="activityChartLegendItems" [withHr]="true"
          [noCard]="true" [footerIconClass]="'fa fa-check'" [footerText]="'Data information certified'">
        </lbd-chart>
      </div>
      <div class="col-md-6">
        <lbd-chart [title]="getTranslate('costinvoicessummary')" [subtitle]="''" [chartType]="activityChartType2"
          [chartData]="activityChartData2" [chartOptions]="activityChartOptions"
          [chartResponsive]="activityChartResponsive" [legendItems]="activityChartLegendItems" [withHr]="true"
          [noCard]="true" [footerIconClass]="'fa fa-check'" [footerText]="'Data information certified'">
        </lbd-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <lbd-chart [title]="getTranslate('expenses')" [subtitle]="'Last Campaign Performance'" [chartClass]="'ct-perfect-fourth'"
          [chartType]="emailChartType" [chartData]="emailChartData" [legendItems]="emailChartLegendItems"
          [withHr]="true" [noCard]="false" [footerIconClass]="'fa fa-clock-o'"
          [footerText]="'Campaign sent 2 days ago'">
        </lbd-chart>
      </div>

      <div class="col-md-8">
        <lbd-chart [title]="'Cash Flow'" [subtitle]="'24 Hours performance'" [chartType]="hoursChartType"
          [chartData]="hoursChartData" [chartOptions]="hoursChartOptions" [chartResponsive]="hoursChartResponsive"
          [legendItems]="hoursChartLegendItems" [withHr]="true" [noCard]="false" [footerIconClass]="'fa fa-history'"
          [footerText]="'Updated 3 minutes ago'">
        </lbd-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <lbd-chart [title]="'Sales / Costs'" [subtitle]="'All products including Taxes'"
          [chartType]="activityChartType3" [chartData]="activityChartData3" [chartOptions]="activityChartOptions"
          [chartResponsive]="activityChartResponsive" [legendItems]="activityChartLegendItems3" [withHr]="true"
          [noCard]="true" [footerIconClass]="'fa fa-check'" [footerText]="'Data information certified'">
        </lbd-chart>
      </div>

      <div class="col-md-6">
        <lbd-task-list [title]="'Tasks'" [subtitle]="'Backend development'" [tasks]="tasks" [withHr]="true"
          [footerIconClass]="'fa fa-history'" [footerText]="'Updated 3 minutes ago'">
        </lbd-task-list>
      </div>
    </div>

  </div>
</div>