/* You can add global styles to this file, and also import other style files */
.sidebar-sticky-button {
  bottom: 0;
  position: sticky;
  text-align: center;
  background: #fff;
  color: #000;
  font-weight: bold;
  margin-bottom: 0;
  margin: 10px 15px 0 15px;
  border-radius: 4px;
  cursor: pointer;
  list-style-type: none;
  padding: 0;
}

.sidebar-sticky-button li {
  padding: 10px 15px;
}
