<div class="main-content">
    <div class="container-fluid">
        
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="content">
                          <h4 class="title">{{"team"| translate |titlecase}} <span style='float:right;font-size:16px;'>
                                  <a routerLink='/hr/member/0' style='color:gray;margin-right:10px;'><i class='fa fa-plus-square-o'></i></a>
                          </span></h4>
                          <p class="category">{{"Your team here"| translate |titlecase}}</p>
                          <br>
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="fresh-datatables">
                          <table id="datatablesIn" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                      <th>{{ dataTable.headerRow[0] }}</th>
                                      <th class='text-left'>{{"Name"| translate |titlecase}}</th>
                                      <th class='text-left'>{{"Lastname"| translate |titlecase}}</th>
                                      <th class="text-left">{{"IDNO"| translate |titlecase}}</th>
                                      <th>{{"Title"| translate |titlecase}}</th>
                                      <th>{{"Department"| translate |titlecase}}</th>
                                      <th>{{"Cellphone"| translate |titlecase}}</th>
                                      <th class="text-right">{{"Birthday"| translate |titlecase}}</th>
                                      <th class="text-center">{{"Salary"| translate |titlecase}}</th>
                                      <th style="width:10%;" class="text-right"></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                      <td>{{i+1}}</td>
                                      <td class='text-left'>{{row.name}}</td>
                                      <td class='text-left'>{{row.lastName}}</td>
                                      <td class="text-left">{{row.TCKN}}</td>
                                      <td>{{row.title}}</td>
                                      <td>{{row.department}}</td>
                                      <td>{{row.cellPhone }}</td>
                                      <td class='text-right'>{{row.birthday | date:'dd-MM-yyyy'}}</td>
                                      <td class="text-center">
                                            <span *ngIf="row.userID==userID">{{row.salary | currency:'TRY '}}</span>
                                      </td>
                                      <td style="width:10%;" class="text-right tableicon">
                                        <a *ngIf="(row.userID==userID || userType==1 || userType==3)" routerLink='/hr/payroll/{{row.ID}}'><i class="fa fa-bars"> </i>&nbsp;</a>
                                        <a *ngIf="row.userID==userID || userType==1 || userType==3"  routerLink='/hr/member/{{row.ID}}'><i class="fa fa-search"> </i>&nbsp;</a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
  </div>
  
  