<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal">
                    <h4 class="title">{{"New/Edit Employee" | translate}}</h4>
                    <div class="card">
                        <!-- mains will be here -->
                        <div class="header">
                            <legend>{{"Basics" | translate}}</legend>
                        </div>
                        <div class="content">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Name" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="name"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.name">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Lastname" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" name="lastName"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.lastName">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"IDNO" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [(ngModel)]="employee.TCKN"
                                            name="TCKN" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Email" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [(ngModel)]="employee.email"
                                            name="email" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Position/Title" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [(ngModel)]="employee.title"
                                            name="title" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Department" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="employee.department" name="department">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Start Date" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.startDate"
                                            name="startDate" class="form-control datetimepicker pickerStartDate"
                                            placeholder="Pick Date Time" />
                                    </div>

                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"SSN" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [(ngModel)]="employee.SSKNo"
                                            name="SSKNo" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </fieldset>

                            <div class="header">
                                <legend>{{"Personal" | translate}}</legend>
                            </div>
                            <br>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Home Phone" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="employee.homePhone" name="homePhone">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Cellphone" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="employee.cellPhone" name="cellPhone">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"School" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="employee.school" name="school">
                                    </div>

                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Birthday" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.birthday"
                                            name="birthday" class="form-control datetimepicker pickerBirthday"
                                            placeholder="Pick Date Time" />
                                    </div>
                                </div>
                            </fieldset>
                            <div class="header">
                                <legend>Compensation Related</legend>
                            </div>
                            <br>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Salary" | translate}}</label>
                                    <div class="col-sm-10">
                                        <input type="number" placeholder="" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="employee.salary" name="salary">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Net/Gross Salary?" | translate}}</label>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <input type="radio" name="isNet" id="radioNet" value="1" (change)="onInChange(1)"
                                                [checked]="employee.isNet==1 || employee.ID==0">
                                            <label for="radioNet">
                                                {{"Net" | translate}}
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="isNet" id="radioGross" value="0" (change)="onInChange(0)"
                                                [checked]="employee.isNet==0">
                                            <label for="radioGross">
                                                {{"Gross" | translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Is Married?" | translate}}</label>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <input type="radio" name="isMarried" id="radioMarried" value="1" (change)="onImChange(1)"
                                                [checked]="employee.isMarried==1 || employee.ID==0">
                                            <label for="radioMarried">
                                                {{"Married" | translate}}
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="isMarried" id="radioBachelor" value="0" (change)="onImChange(0)"
                                                [checked]="employee.isMarried==0">
                                            <label for="radioBachelor">
                                                {{"Not Married" | translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <!--Burası eger radıo 1 secılırse cıkacak-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Is Partner Working?" | translate}}</label>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <input type="radio" name="isSpouseWorking" id="radioWorking" value="1"
                                                (change)="onIsChange(1)" [checked]="employee.isSpouseWorking==1 || employee.ID==0">
                                            <label for="radioWorking">
                                                {{"Working" | translate}}
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="isSpouseWorking" id="radioNotWorking" value="0"
                                                (change)="onIsChange(0)" [checked]="employee.isSpouseWorking==0 || employee.isMarried==0">
                                            <label for="radioNotWorking">
                                                {{"Not Working" | translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <!--Burası eger radıo 1 secılırse cıkacak-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{"Number of Children" | translate}}</label>
                                    <div class="col-sm-10">
                                        <select name="numberOfKids" [(ngModel)]="employee.numberOfKids" class="selectpicker"
                                            data-title="" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option selected [value]="1">1</option>
                                            <option selected [value]="2">2</option>
                                            <option selected [value]="3">3</option>
                                            <option selected [value]="4">4</option>
                                            <option selected [value]="5">5</option>
                                            <option selected [value]="6">6</option>
                                            <option selected [value]="7">7</option>
                                            <option selected [value]="8">8</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="header">
                                <legend>{{"Files" | translate}}</legend>
                                <span style='float:right;font-size:16px;'>
                                    <a (click)='addFile()' title='Add File' style='color:gray;margin-right:10px;cursor:pointer;'><i
                                            class='fa fa-plus-square-o'></i></a>
                                </span>
                            </div>
                            <br>
                            <div class="content" style="padding-top: 30px;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th class="text-left">{{"Description" | translate}}</th>
                                                <th class="text-center">{{"Date" | translate}}</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let file of files;let i = index">
                                                <td class="text-left">{{i+1}}</td>
                                                <td class="text-left"><a href="https://crmapi.efdigitalcodes.com/Uploads/files/{{file.fileName}}" target="_blank">{{file.description}}</a></td>
                                                <td class="text-center">{{file.date_}}</td>
                                                <td class="text-right"><a (click)="deleteFile(file.ID,i)"><i class="fa fa-trash"> </i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>



                        </div>
                    </div> <!-- end card -->

                    <div class="content">
                        <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" *ngIf="memberID>0 && (userType==1 || userType==3)"
                            (click)="deleteEmployee()">{{"Delete" | translate}}</button>

                        <div style='float:right;'>
                            <button style='margin-right:5px;' class="btn btn-default btn-fill btn-wd" (click)="clickCancel()">{{"Cancel" | translate}}</button>
                            <button class="btn btn-success btn-fill btn-wd" (click)="saveEmployee()">{{"Save" | translate}}</button>
                        </div>
                    </div>
                </form>
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->

    </div>
</div>