
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
                <ul>
                        <li>
                            <a href="#">
                                Web
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Factory Floor
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                EF Codes
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Distronaut
                            </a>
                        </li>
                    </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.doganedonusum.com/">Doğan E-dönüşüm</a>
        </p>
    </div>
</footer>
