<div class="main-content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="content">
                            <h4 class="title">{{"vendors" | translate |titlecase}} 
                                    <span style='float:right;'>
                                            <a routerLink='/sales/customer' [queryParams]="{isVendor:2}" style='color:gray;margin-right:10px;font-size:16px;'><i class='fa fa-plus-square-o'></i></a>
                                            <a routerLink='/finance/aggr' [queryParams]="{customerID: 0}" style='color:gray;margin-right:10px;font-size:16px;'><i class="fa fa-handshake-o"></i></a>

                                        </span>
                                </h4>
                                <p class="category">{{"These are your Vendors" | translate |titlecase}} </p>
                                <!-- <legend></legend> -->
                                <br>     
                          <div class="toolbar">
                              
                              <!--        Here you can write extra buttons/actions for the toolbar              -->
                          </div>
                          <div class="fresh-datatables">
                              <table id="datatables" class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                  <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>{{ 'Name' | translate }}</th>
                                        <th>{{ 'Country' | translate }}</th>
                                        <th>{{ 'Phone' | translate }}</th>
                                        <th>{{ 'Contact' | translate }}</th>
                                        <th class='text-right'>{{ 'Type' | translate }}</th>
                                        <th class='text-right'></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                          <tr *ngFor="let row of dataTable.dataRows; let i = index">
                                              <td><span class="dot {{row.color}}"></span></td>
                                              <td><a routerLink='/sales/customer/{{row.ID}}' [queryParams]="{isVendor: 2}">{{row.customerShortName}}</a></td>
                                              <td>{{row.country}}</td>
                                              <td>{{row.phone}}</td>
                                              <td>{{row.customerContact}}</td>
                                              <td class='text-right'><button class="btn btn-xs btn-fill">{{row.cType | uppercase}}</button></td>
                                              <td class="text-right tableicon">
                                                  <!-- <a title="Create Invoice" routerLink="/sales/invoice" [queryParams]="{invoiceType:2}"><span class="fas fa-file-invoice-dollar"></span></a> -->
                                            
                                                  <a href='mailto:{{row.customerContactEmail}}'><i class="fa fa-envelope-o"></i>&nbsp;</a>
                                                  <a routerLink='/finance/aggr' [queryParams]="{customerID: row.ID}"><i class="fa fa-handshake-o"></i>&nbsp;</a>
                                                  <a title="Create Invoice" routerLink="/sales/invoice" [queryParams]="{invoiceType:2,customerID:row.ID}"><i class="fa fa-file-text-o"></i>&nbsp;</a>
                                                  <a routerLink='/sales/customer/{{row.ID}}'><i class="fa fa-search"></i>&nbsp;</a>
      
                                              </td>
                                          </tr>
                                      </tbody>
                              </table>
                          </div>
                      </div>
                      <!-- end content-->
                  </div>
                  <!--  end card  -->
              </div>
              <!-- end col-md-12 -->
          </div>
          <!-- end row -->
      </div>
      </div>
      