/*! =========================================================
 *
 * Light Bootstrap Dashboard PRO Angular - v1.3.0 (LBD V1.3.0)
 *
 * =========================================================
 *
 * Copyright 2017 Creative Tim
 * Available with purchase of license from  https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2
 *
 *
 * ========================================================= */


// variables and mixins
@import "lbd/variables";
@import "lbd/mixins";


//plugins css
@import "lbd/plugins/animate";
@import "lbd/plugins/sweetalert2";
@import "lbd/plugins/jquery.jvectormap";
@import "lbd/plugins/bootstrap-table";
@import "lbd/plugins/datatables.net";
@import "lbd/plugins/fullcalendar";
@import "lbd/plugins/chartist";
@import "lbd/plugins/perfect-scrollbar";
@import "lbd/plugins/bootstrap-select";
@import "lbd/plugins/fixed-plugin";
@import "lbd/plugins/nouislider";
@import "lbd/plugins/tags";


// Core CSS
@import "lbd/typography";
@import "lbd/sidebar-and-main-panel";
@import "lbd/buttons";
@import "lbd/misc";
@import "lbd/inputs";
@import "lbd/progress-bars";
@import "lbd/sliders";
@import "lbd/forms";
@import "lbd/alerts";
@import "lbd/tables";
@import "lbd/tooltips-and-popovers";
@import "lbd/checkbox-radio-switch";
@import "lbd/navbars";
@import "lbd/footers";


// Fancy Stuff
@import "lbd/social-buttons";
@import "lbd/dropdown";

@import "lbd/cards";

@import "lbd/collapse";
@import "lbd/carousel";

@import "lbd/plugins/datetime-picker";

// SCSS for Pages
@import "lbd/pages.scss";

// Responsive adjustments
@import "lbd/responsive";
@import "lbd/tabs-navs-pagination";

/* Beginning of EF customizations*/

a {
    /*color: #23CCEF; */
    color:#08f;
}

a:hover, a:focus {
      /*color: #11bfe3;*/
      color:#08f;
      text-decoration: none; 
}

body, p, .navbar, .brand,  a, .td-name, td, {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .navbar, .button.close, .btn-simple, .alert {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", "Helvetica Neue", Arial,sans-serif;
    font-weight: 400;
}

.dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background-color: blue;
  }
.red{
    background-color: red;
}
.orangered{
    background-color: orangered;
}
.magenta{
    background-color: magenta;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.greenyellow{
    background-color: greenyellow;
}
.gray{
    background-color: gray;
}
.black{
    background-color: black;
}
.lavender{
    background-color: #957DAD;
}
.grape{
    background-color: #642AB6;
}
.watermelon{
    background-color: #F46188;
}
.inchworm{
    background-color: #9fdb5a;

}
.rasberry{
    background-color: #ff006a;
}
.violet{
    background-color: #981fac;
}
/* End of EF customizations*/
